[2016-02-07 10:52] joelday opened #1 "Add readme.md"

[2016-02-07 10:53] joelday opened #2 "Add vscode marketplace media assets"

[2016-02-07 10:54] joelday opened #3 "JavaScript support"

[2016-02-07 11:01] joelday opened #4 "Improve description inferrence"

[2016-02-07 11:01] joelday opened #5 "Option to disable description inferrence"

[2016-02-07 11:09] joelday opened #6 "Language and documentation format agnostic architecture"
Would be ideal to be able to use the same "Document This" command for other languages such as C#.

[2016-02-07 11:11] joelday opened #7 "Use fully qualified names of types"

[2016-02-07 11:13] joelday opened #8 "Add a huge battery of tests"

[2016-02-08 01:19] #3 closed

[2016-02-08 07:05] #1 closed

[2016-02-08 07:29] #4 closed

[2016-02-08 07:29] #5 closed

[2016-02-08 07:29] joelday opened #9 "Add description inferrence"

[2016-02-08 07:31] #2 closed

[2016-02-08 07:36] joelday opened #10 "Add JSDoc comments."
Because it's ironic that there aren't any yet.

[2016-02-08 14:48] csholmq opened #11 "Shortcuts colliding"
From README.md:

[code]

From Default Keyboard Bindings:

[code]

This **collides with ctrl+d** which is the built in `editor.action.addSelectionToNextFindMatch`

[2016-02-08 15:38] joelday opened #12 "Move core functionality to a separate Node package"
Better for versioning, testing and support for additional IDEs such as Atom, VS and Sublime.

[2016-02-08 15:42] joelday opened #13 "Clean up LanguageServiceHost."
Leaks document contents currently. Probably still providing unneeded functionality. May need to improve dirty checking.

[2016-02-08 16:49] joelday commented on #11
Thanks! I'll switch it around to reflect what I had (inadvertently) in the README.md.

[2016-02-08 17:05] joelday commented on #11
@csholmq Let me know if this collides with any of your other extensions.

[2016-02-08 17:54] joelday opened #14 "Localization"

[2016-02-08 18:06] joelday opened #15 "Improve JavaScript support"
Documentation fails in various valid scenarios.

[2016-02-08 20:24] csholmq commented on #11
No collision. But also no handler => No go :-1:

[2016-02-08 21:10] csholmq opened #16 ""No handler found""
![image](https://cloud.githubusercontent.com/assets/1297882/12898408/dbcf34fe-ceac-11e5-8bd3-db9ef89df730.png)

[2016-02-08 21:29] joelday commented on #16
It's set to activate on JavaScript and TypeScript language load. Just to make sure, does it still happen after a document of either have been opened?

[2016-02-08 21:39] csholmq commented on #16
Works like a charm for JS and TS.

![image](https://cloud.githubusercontent.com/assets/1297882/12900051/95c1ae6c-ceb4-11e5-835c-6088314cdb4e.png)

Any reason for not supporting other languages? E.g. C/C++ ;)

[2016-02-08 21:54] joelday commented on #16
It's on my roadmap. :)

[2016-02-08 21:55] #16 closed

[2016-02-08 21:55] joelday commented on #16
#6

[2016-02-08 22:15] #9 closed

[2016-02-08 22:20] #13 closed

[2016-02-09 02:21] michaeljota commented on #15
It seems that you may use Salsa for this. I don't know if it would help, but it seems so.

[2016-02-09 02:22] michaeljota commented on #14
Need help with spanish? Tell me where to code.

[2016-02-09 07:02] ElfenLiedGH opened #17 "add type on comment JS"
it's now

[code]

better

[code]

the best

[code]

[2016-02-09 07:46] csholmq commented on #6
+1 :+1:

[2016-02-09 18:52] joelday commented on #15
@michaeljota Agreed! Right now it's only reading the AST, which doesn't have type checking or inference. There's a fair amount of complexity in making sure that works reliably and with adequate performance. I'd still like to do it, though.

[2016-02-09 18:56] joelday commented on #17
Thanks! Related to #15

[2016-02-09 18:56] #17 closed

[2016-02-09 19:22] joelday commented on #6
Related to #12

[2016-02-09 20:30] joelday opened #18 "@extends is not including generic type parameters"

[2016-02-10 01:06] joelday commented on #14
@michaeljota Thanks! Once I have a string table, I'll ping you.

[2016-02-10 18:42] joelday commented on #18
Forgot to add issue number to commit notes.

[2016-02-10 18:42] #18 closed

[2016-02-10 22:46] joelday commented on #14
Depends on Microsoft/vscode#2401

[2016-02-10 23:35] michaeljota commented on #14
We wait then :D

[2016-02-11 00:09] joelday commented on #14
:+1:

[2016-02-11 03:34] michaeljota opened #19 "Support to doc functions as properties"
I don't know, maybe related to #15 but, if the function is declared as propertie of an object (I think it's called that way, very sorry if I'm wrong), it does not generate the documentation to that function, but the function outside (?).

[code]

Yeah, the code explains better. (I hope)

[2016-02-13 09:55] joelday commented on #15
Looking pretty good now. :)

[2016-02-13 09:55] #15 closed

[2016-02-13 09:56] joelday commented on #19
Fixed in 0.2.0.

[2016-02-13 09:56] #19 closed

[2016-02-13 20:50] michaeljota commented on #19
Thanks! I'll update.

[2016-02-13 20:59] joelday commented on #19
Just made some minor improvements that are related to this, specifically arrow functions not being included and @returns being added improperly.

[2016-03-01 20:16] joelday opened #20 "Arrow functions as types cause parser errors."

[2016-03-01 20:21] joelday opened #21 "Enum documentation is ignored by JSDoc"
TypeScript emits enums in a self executing function.

[2016-03-01 20:37] joelday commented on #21
Looking at workarounds. Similar issues elsewhere.

[2016-03-04 23:22] unlight opened #22 "Add support for JSX (TSX) files"
Currently: `Sorry! 'Document This' currently supports JavaScript and TypeScript only.`

[2016-03-07 17:14] joelday commented on #22
@unlight Fixed!

[2016-03-07 17:14] #22 closed

[2016-03-15 19:00] joelday opened #23 "Document inferred types"

[2016-03-15 19:09] joelday commented on #23
#4273

[2016-03-15 19:10] joelday commented on #23
https://github.com/Microsoft/vscode/issues/4273

[2016-03-17 16:00] vapits opened #24 "Keys combination not working"
![image](https://cloud.githubusercontent.com/assets/8594758/13852256/8bfc0c7c-ec61-11e5-8e96-0e4f70d7675b.png)

Just installed it but I can't make it by no mean work. Keys combinations ton working (tried all).

Using latest VSCode and latest OSx.

[2016-03-17 16:11] vapits commented on #24
Never mind my mistake i didn't realise that I have to press twice the combination.

Thx.

[2016-03-17 16:11] #24 closed

[2016-03-22 13:29] csholmq opened #26 "Support C/C++ syntax"
Just like https://atom.io/packages/docblockr (based on https://github.com/spadgos/sublime-jsdocs) it would be nice if you could support other programming languages but JS/TS.

[2016-03-22 13:32] csholmq opened #27 "Customizable commenting style"
(The syntax example is related to #26 but the commenting style is independant)

Instead of

[code]

I would like to have

[code]

[2016-03-22 16:36] joelday commented on #26
TBH, a docblockr vscode port is probably a good idea.

[2016-03-22 16:37] joelday commented on #26
The main difference is that docthis uses the language service for static analysis. Once that uses the type checker, that'll get even better for JavaScript.

[2016-03-22 21:18] csholmq commented on #26
So since there only exist syntax highlighting for e.g. C++, does that mean it's currently out of the scope?

[2016-03-23 18:08] joelday commented on #26
I'm looking at a long term multi IDE and multi language strategy. In this scenario, each language can use whatever analysis strategy it wants. It's just difficult to put time toward it currently.

[2016-03-28 18:17] csholmq commented on #26
Sounds neat. Perhaps a general npm package?

[2016-04-17 13:51] Koarakuma opened #28 "Exception thrown in 'Document Everything Visible': returnNode.getChildren is not a function"
Platform: darwin

Exception:
[object Object]

[2016-05-30 05:01] Edward-Lombe opened #30 "Exception thrown in 'Document This': Cannot read property 'getText' of undefined"
Platform: darwin

Exception:
[object Object]

[2016-06-19 15:38] joelday commented on #30
Hi! Can you provide any additional info such as source code or repro steps? Thank you!

[2016-06-19 15:38] joelday commented on #28
Hi! Can you provide any additional info such as source code or repro steps? Thank you!

[2016-06-21 06:34] Elarcis opened #31 "Documenting via typing '/**' doesn't indent the comment properly"
When documenting a JS function via` /**`, the comment created isn't indented properly, whereas `Ctrl+Alt+D` works as expected.

It should be noted that I'm not using any format-altering extension besides `compulim-vscode-closetag`.

I only have changed one option regarding file formatting:

`"files.trimTrailingWhitespace": true`

![code_2016-06-21_08-28-17](https://cloud.githubusercontent.com/asse

[2016-06-21 15:33] joelday commented on #31
Ah, bummer. This is why you don't add major features while spaced out and fighting a cold. Thank you for the very thorough bug.

Does this only repro in .js/.jsx files? Thank you!

[2016-06-21 16:41] joelday commented on #31
Fixed in 0.3.1.

[2016-06-21 16:42] #31 closed

[2016-06-21 17:43] Elarcis commented on #31
Oh, I was gonna do more tests and answer you D:

Glad it was easy to fix! Good job!

[2016-06-21 17:50] Elarcis opened #32 "Enhancement: When inserting documentation, put the cursor at the line where description will be put"
Currently, when we insert a doc comment, the cursor is kept where it were when we did the shortcut (or typed `/**`), relatively to the documented element.

As we usually want to write the doc right after we inserted it, would it be feasible, and relevant, to automatically move the cursor inside of the comment, where the description goes, so we get a more fluent documentation workflow?

[2016-07-08 19:38] joelday opened #33 "Register commands as code actions and dynamic snippets"

[2016-07-22 10:23] janhartmann opened #34 "Properly generate docs for `export const` arrow functions."
Thanks for this extension, it's a lifesaver for good documentation.

I was wondering if it possible to extend the behavior to document function such as:

[code]

Thanks a lot! :-)

[2016-07-23 02:00] michaeltarleton opened #35 "Does not work when assigning an anonymous function to a variable"
## Story

When I write a function such as the following, I should be able to get documentation for that function.

### Example function:

[code]

Expected output when typing `/**`:

[code]

Actual output when typing `/**`:

[code]

[2016-07-29 02:00] roncli opened #36 "Ctrl+Alt+D Ctrl+Alt+D sequence on a function assigned to a variable puts JSDoc in wrong place if it's not the first variable declared in the statement"
Sorry, that title's a mouthful! :P

If you have a long string of declared variables in one var statement, doing the Ctl+Alt+D Ctl+Alt+D shortcut combo results in incorrect placement of the JSDoc.

Take for instance:

[code]

if I were to put my cursor inside the body of `otherfx` and hit Ctrl+Alt+D Ctrl+Alt+D, I would expect this:

[code]

Instead, I get this:

[code]

[2016-08-03 02:00] Elric-pp opened #37 "Exception thrown in 'Document Everything': returnNode.getChildren is not a function"
Platform: darwin

Exception:
[object Object]

Steps to reproduce the error:
CTRL + ALT + D, CTRL + ALT + E

Code to reproduce error (optional):

[code]

[2016-08-04 14:25] Avol-V opened #38 "Ability to disable types in JSDoc"
I think it would be nice to have ability to disable types in generated JSDoc comments.
Why? Because I already have types in TypeScript code and they are more relevant.

For example:
[code]

[2016-08-11 22:35] cliffkoh opened #39 "User Preference option to disable /** auto-documentation"
Could you provide a user preference hook to disable the /** auto documentation behavior introduced in 3.0.0 please?

[2016-08-12 16:33] #39 closed

[2016-08-12 16:33] #38 closed

[2016-08-12 20:57] cliffkoh commented on #39
Thank you :)

[2016-08-12 22:09] cliffkoh opened #40 "Typescript service does not understand `[timeout=2000]` in `@param {number} [timeout=2000]`"
TypeScript service and in turn VS Code IntelliSense does not understand `[timeout=2000]` in `@param {number} [timeout=2000]` which DocThis generates in the JSDoc blobs.

Would it be better to generate `@param {number} timeout` for a method like
[code]

instead? This is the only way I've found for the IntelliSense in VSCode to pick up that param documentation.

[2016-08-15 16:54] joelday commented on #30
Insufficient information to reproduce.

[2016-08-15 16:54] #30 closed

[2016-08-15 16:54] joelday commented on #28
Insufficient information to reproduce.

[2016-08-15 16:54] #28 closed

[2016-08-19 07:54] loonghere opened #41 "can it support php? thanks"
like docblockr of sublime

[2016-08-19 18:13] joelday commented on #26
Related to #6

[2016-08-19 18:18] joelday commented on #41
Related to #6

[2016-09-05 12:36] toto42 opened #42 "Exception thrown in 'Document This': Cannot read property 'getText' of undefined"
Hey,
I just installed you plugin, it looks cool, but I ran into a small bug.
If you try to document a class that has no name like `export default class {...}` it breaks.
Maybe the solution would be either let the `@class` empty and let the dev do whatever or default it to `default` or even better take the file name?

Thanks for your work! :)

Platform: darwin

Exception:
[object Object]

Steps to

[2016-09-06 04:50] lucasmciruzzi opened #43 "(Request) Typedef for type aliases"
It will be great to have documentation for [type aliases](https://www.typescriptlang.org/docs/handbook/advanced-types.html#type-aliases) trough JSDoc's [@typedef](http://usejsdoc.org/tags-typedef.html):
[code]
[code]

[2016-09-07 08:29] Avol-V opened #44 "Like automaticForBlockComments but after Enter key"
It would be great, if you add option like `automaticForBlockComments` but that works after pressing Enter key (adding new line after `/**`), like it works in some other editors, for easily adding single-line comment:

[code]

[2016-09-09 03:09] lucasmciruzzi commented on #43
I think the solution will be something like adding this to the [_documentNode](https://github.com/joelday/vscode-docthis/blob/master/src/documenter.ts#L233) method in the [Documenter class](https://github.com/joelday/vscode-docthis/blob/master/src/documenter.ts):

[code]

[2016-09-12 17:12] 19majkel94 commented on #44
+10000000
I document public class field with one-line comments and I need this type of settings too!
Could you do it, @joelday ?

[2016-09-14 23:29] jackvial commented on #6
Would love to see this extension support PHP.

[2016-09-16 04:17] TheOpenDevProject opened #46 "Add Option To Always Include @description"
There should be an option in the settings to simply insert an explicit `@description` as per the JSDoc specification.
See: http://usejsdoc.org/tags-description.html

Will work on this tonight and submit a PR.

[2016-09-16 04:47] TheOpenDevProject opened #47 "Support for destructured parameters as individual @param {type}"
**Describe The Enhancement**
Currently when you have a function like
[code]

DocThis will generate the a documentation block with the following
[code]

The argument list should be parsed in a way that either ignores the `{}` destructure syntax or DocThis should actually destructure the argument list and then produce its JSDoc param list from that.

[2016-09-16 17:05] joelday commented on #47
Thanks!

[2016-09-16 17:08] joelday commented on #44
Thanks! I absolutely agree that it should handle it this way.

[2016-09-16 17:09] #41 closed

[2016-09-17 05:43] TheOpenDevProject commented on #36
I would actually like to have support to be able to disable inline function comments all together. I find them ugly and very often unnecessary and docthis has been known to even break code because of inline functions. I'll see what I can get together.

[2016-09-17 05:47] TheOpenDevProject commented on #47
I am also happy to take this issue, just trying to wrap my head around how the code is structured.

[2016-09-17 10:26] TheOpenDevProject commented on #34
should be possible. The problem is that arrow notation is support seems to be broken or at least limited in the scope its recognised in. From my testing I could not get it to document any kind of arrow function.

[2016-09-17 10:27] TheOpenDevProject commented on #46
@joelday PR submited.

[2016-09-20 16:15] #46 closed

[2016-09-22 11:59] TheOpenDevProject commented on #47
Been looking at how to do this one. My idea is pretty simple.

[code]

This is horribly written but I can for the life of me figure out where you pass in the parameter list. Any hints would be much appreciated.

[2016-09-22 12:01] TheOpenDevProject commented on #44
Ill take this one as well.

[2016-09-22 12:04] TheOpenDevProject commented on #35
@joelday We could do this if the sequence `Ctrl+Alt+D Ctrl+Alt+D` provides us just the selected text. Still working through and debugging how this all works.

[2016-09-23 08:39] dominikschreiber opened #49 "leverage hungarian notation for type inference"
Some projects use hungarian notation variable names (e.g. `aFoo` is an array, `iBar` is an int/number) to convey basic type information. This type information can easily be extracted to provide better type guesses than `{any}`.

E.g:

[code]

could get a generated JSDoc of

[code]

if one used the information given by the hungarian notation.

It would be advisable to make this optional, e.g. behin

[2016-09-23 10:50] TheOpenDevProject commented on #49
While I am not opposed to making somewhat ambiguous guesses we would for sure want it turned off by default. Please do have a crack at it and submit a PR. I will happily review your PR and @joelday will also review it as he has the final say.

[2016-09-23 10:56] TheOpenDevProject commented on #43
This is `TypeScript` syntax right?

[2016-09-23 14:27] lucasmciruzzi commented on #43
@TheOpenDevProject yup. If you click on "type aliases" you'll get to the TypeScript specification :)

[2016-09-23 16:50] joelday commented on #47
@TheOpenDevProject I'm not too concerned with accumulating technical debt right now assuming it works and it is stable, even if it feels funky. I massively appreciate the work you're taking on!

I think the next step for me is to start writing tests (#8) soon so that we can prevent regressions once we can start doing a refactor. The nice thing about all of the suggestions, etc. is that we know wha

[2016-09-24 13:53] TheOpenDevProject commented on #47
We may actually be well off by looking at BabelJs or TSC source code and using their parser apis such that we dont have to write for ECMA but rather have some kind of interface between similar concept in LLVM Compiler framework

[2016-09-24 13:56] TheOpenDevProject commented on #43
Ok ill have a look tomorrow when im hacking out some other code for the project.

[2016-09-25 12:31] TheOpenDevProject opened #51 "Consider babylon as an optional API to quickly support ES6 functionality"
I think we should consider adding this into the pipeline if native ES6 code is being used as it wil give us clean acess to destructured parameters and arrow functions in all contexts.

Open for discussion.

https://github.com/babel/babylon

[2016-10-08 07:48] elcojacobs commented on #11
Would it be possible to add a user setting to configure the shortcut?
CTRL-ALT-D collides with switching desktops on Ubuntu Gnome.

[2016-10-09 11:34] TheOpenDevProject commented on #11
@elcojacobs I will look into this. Should be possible as VSCode allows for pretty advanced user configs.

[2016-10-09 11:35] TheOpenDevProject commented on #49
Implemented. See #50

[2016-10-09 11:35] #49 closed

[2016-10-11 06:25] im-kulikov opened #53 "Support for unnamed classes"
Platform: darwin

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'getText' of undefined","stack":"TypeError: Cannot read property 'getText' of undefined\n    at Documenter._emitClassDeclaration (/Users/kulikov-im/.vscode/extensions/joelday.docthis-0.3.4/out/src/documenter.js:237:44)\n    at Documente

[2016-10-12 03:25] TheOpenDevProject commented on #53
#30 #42 Possible duplicates. Thanks for the report, we are aware of this issue and I expect to have a patch for it some time next week. It seems to be caused by the parser looking for a token and not finding one within its expecting context.

[2016-10-12 17:24] joelday commented on #11
@elcojacobs Could you suggest an alternative? I'm not sure what the best option is. Thanks!

[2016-10-12 17:30] joelday opened #54 "Semver"
We haven't been conforming to this standard. Would probably be a good idea to start. Let's rev the minor version when we add features, even if they're tiny.

[2016-10-12 19:56] elcojacobs commented on #11
I just did some more googling when I got your message and looks like customizing the shortcut is already possible!

If you go to File -> Preferences -> Keyboard Shortcuts, you can edit `User/keybindings.json`

I mapped mine to `ctrl-alt-/`

[code]

So I suggest adding this to the docs and closing this issue :+1: No further action needed.

[2016-10-12 22:56] TheOpenDevProject commented on #11
Thanks,  I will add this to the docs today.

Closing.

[2016-10-12 22:56] #11 closed

[2016-10-12 22:58] TheOpenDevProject commented on #54
Are you wanting to Semver the whole repo or the code?. Eg when a new commit is made even if its docs or doc cleanup or just when code changes?

[2016-10-13 01:17] joelday commented on #54
@TheOpenDevProject Just how we rev the version number per release.

[2016-10-13 08:39] TheOpenDevProject commented on #54
Alright noted.

[2016-10-16 04:03] TheOpenDevProject commented on #53
Could you please provide a file that causes VSCode to throw this error.

[2016-10-16 08:07] im-kulikov commented on #53
@TheOpenDevProject yep.. its like that:

[code]

or like this:
[code]

[2016-10-16 08:10] im-kulikov commented on #53
and if you need real file, you can get this:

[code]

i get it from https://github.com/75team/thinkjs/blob/master/src/adapter/db/postgresql.js

[2016-10-16 08:27] im-kulikov commented on #53
If I'm right that most likely, the problem is that it is expected such that:
[code]
but we pass next:
[code]

without `className` and with keywords `exports default`

In the end, extension can't find the name of the class and falls

[2016-10-16 08:43] TheOpenDevProject commented on #53
I will do some testing on this tonight thanks thats exactly what I needed.

[2016-10-16 08:55] im-kulikov commented on #53
@TheOpenDevProject Write me if I can help with anything

[2016-10-21 08:35] nomaed opened #55 "Suggestion: add @deprecated tag"
_Edited: My original suggestion was adding a more complex support but I realize it is out of this plugin's scope, so there's a small suggestion instead_

Sometimes it could be very helpful to deprecate an identifier with a shortcut.
So I suggest adding a support for the tag `@deprecated` and having an option to "Deprecate this!".

[2016-10-21 09:21] #54 closed

[2016-10-21 09:50] nomaed commented on #55
I mean something similar to `^⌥D ^⌥D` "trick". But except of generating a full jsDoc block, just generating a `/** @deprecated <description> */` block.

This is quite minor, so feel free to close the issue if you don't feel this worths the investment.

[2016-10-22 04:44] TheOpenDevProject commented on #55
@nomaed I am not sure if those characters are not rendering properly for me but I think I get you. Ill add this to our next release.

[2016-10-22 04:49] joelday commented on #55
I think this is fine, but I suspect that there are some other extensibility points we should look at for 1.0 such as code completion, etc. where this might fit better.

[2016-10-27 12:13] amitkverma opened #56 "Not working in mac"

[2016-10-27 15:59] TheOpenDevProject commented on #56
Please provide us with a full bug report.

[2016-10-29 02:44] TheOpenDevProject commented on #56
Closing Issue.

[2016-10-29 02:44] #56 closed

[2016-11-03 07:23] Mixalloff opened #57 "Exception thrown in 'Document This': Cannot read property 'getText' of undefined"
Platform: linux

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'getText' of undefined","stack":"TypeError: Cannot read property 'getText' of undefined\n    at Documenter._emitClassDeclaration (/home/mikhail/.vscode/extensions/joelday.docthis-0.3.5/out/src/documenter.js:240:44)\n    at Documenter._do

[2016-11-05 14:17] jamietre opened #58 "Feature request: reformat jsdoc blocks"
VS Code doesn't seem to do anything in the way of formatting jsdoc text when it renders intellisense, so if you don't happen to break lines in your descriptions at the right place (80?) it looks ugly. Would be nice to have a feature to automatically reformat text blocks in jsdoc comments to the correct width.

[2016-11-08 15:02] pronebird opened #59 "/** autocompletion and indentation"
Don't seem to document method that has indentation:

[code]

Starting `/**` off the beginning of line adds comment without issues.

[2016-11-08 15:20] jamietre commented on #59
Not sure if this is the same, but `/**` actually doesn't work at all for me on VS Code Insider. It works fine for the current release version. So something they changed recently in VS Code itself seems to have broken auto doc generation from `/**`, Ctrl+Shift+D still works.

[2016-11-08 17:01] joelday commented on #59
Yuck. It's time to reevaluate the implementation strategy of this feature most likely.

[2016-11-10 11:00] facelesspanda opened #60 "[ts] constructor auto-doc doesn't support typed parameters"
Here is a simple TS class:
[code]
When doing *Document this* on `someMethod`, here's what gets generated :
[code]
Type of param `v` is `T`, as expected.

But doing *Document this* on `constructor` generates this:
[code]
which creates 2 parameter entries. One for the parameter-initializer with its access modifier, and the other for its type.

[2016-11-10 18:58] joelday commented on #60
The language service needs to be updated to TypeScript 2.0 so that we can properly deal with the readonly keyword. Sorry about this, will try to get this fixed up soon.

[2016-11-11 10:46] jorgecasar opened #61 "Exception thrown in 'Document This': Cannot read property 'find' of undefined"
Platform: darwin

Steps to reproduce the error:
Try to document a Polymer Component like:

[code]

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'find' of undefined","stack":"TypeError: Cannot read property 'find' of undefined\n    at Documenter._emitPropertyDeclaration (/Users/jorgecasar/.vscode/extensions/joelday.docthis-0.3.5/

[2016-11-12 04:56] TheOpenDevProject commented on #60
Updating now.

[2016-11-15 08:26] ghost opened #62 "Trying to document a member function jumps to class"
When I have the following:
[code]
and I want to use "Document This" on test.greet it jumps up to test.

[2016-11-15 08:28] TheOpenDevProject commented on #62
Inline functions are quite sketchy and are only "supported" as a consequence of other code rather than this actually being supported. We probably need to rethink this as a lot of people have been asking how to document inline functions. What happens if you use document in place.

[2016-11-18 19:41] Bugpatchcrashdebugging opened #63 "Linux + shortcuts"
How to change key binding, in Xfce alt + ctr + D hide all windows.

[2016-11-22 14:57] rylphs opened #64 "Clear current jsdocs before "Document Everything" to allow updated jsdocs."
If you call "document everything" twice the jsdocs are also added twice. That would be good if it cleared all jsdocs before doing that. So, for example, if you later add some method, or change its parameters you can just call "document everything" again and the jsdoc will be updated.

[2016-11-25 01:48] antoligy commented on #6
Hey, anything that can be done to move this forward?  Any ideas on how this could be contributed?

[2016-12-03 20:09] cameronwp commented on #26
👍

[2016-12-03 20:36] joelday commented on #6
@antoligy Starting a major refactor today to support multiple languages and editors. Will open this up as soon as the basics are in.

[2016-12-03 21:20] antoligy commented on #6
Awesome, best of luck @joelday!

[2016-12-06 11:55] TheOpenDevProject commented on #26
@joelday I do believe VSCode now supports many more languages with the static analyser

[2016-12-06 11:56] TheOpenDevProject commented on #63
Are you asking about our VSCode addin or XFCE?.

[2016-12-06 11:57] TheOpenDevProject commented on #6
I should probably stop being lazy and help out :smile: but yea I plan on making this happen with joel.

[2016-12-18 19:29] Harris-Aaron opened #65 "Exception thrown in 'Document Everything': Cannot read property 'getText' of undefined"
Platform: darwin

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'getText' of undefined","stack":"TypeError: Cannot read property 'getText' of undefined\n    at Documenter._emitClassDeclaration (/Users/harris-aaron/.vscode/extensions/joelday.docthis-0.3.5/out/src/documenter.js:240:44)\n    at Documen

[2016-12-20 10:37] fehrenhuber opened #66 "Replace existing documentation on a function."
If you generate a documentation on a function with an existing documentation with Ctrl+Alt+D and Ctrl+Alt+D , the existing documentation should be replaced  with the new one instead of writing it below the existing one.

[2016-12-20 15:51] BillDenton commented on #26
+1 Would be a great addition for C and C++. Thanks.

[2016-12-26 16:45] jens1o commented on #6
Would like to have it also available for php. I would help you with the integration if you say what I need to do.

[2017-01-01 07:14] jaydp17 commented on #59
Same issue on v1.9.0-insider

[2017-01-03 17:08] jamietre commented on #58
Since I posted this - VS Code seems to auto format. There must have been a change related to this.

However I think the feature is still useful (even if not necessary for VS code intellisense to look good). Having a keyboard shortcut to reformat a jsdoc block using some basic user configurable settings would be awesome for those of us who are anal about how our code looks.

Whenever you edit a sub

[2017-01-03 21:21] ashleahhill commented on #59
I'm on v 1.8.1 on Mac and the auto doc generation is broken for me as well

[2017-01-04 22:34] PooperPig opened #68 "Issue causing cmd-alt-s to paste contents of file into current window"
- VSCode Version: 1.8.1
- Document This: v 0.3.6
- OS Version: MacOS 10.12.2

Steps to Reproduce:

1. Open two existing files in the editor
2. Make a small change to one, do not save
3. Move to the tab of the unchanged file
4. Hit cmd-alt-s

The files are saved, and the contents of the changed file pasted into the unchanged file.
See attached screen capture for example on newly created project
VSC

[2017-01-04 22:42] PooperPig commented on #68
Turns out to be an issue with another extension - JS-CSS-HTML Formatter

[2017-01-04 22:45] #68 closed

[2017-01-06 07:31] marcelh-gh opened #69 "Used on TS code, a parameter which is of a union type does not get documented properly"
for example type info "string | null" gets documented as "string |"

[2017-01-09 06:54] edDimensi commented on #59
Have some problem too.
[code]

[2017-01-10 11:30] felipetoffolo1 commented on #6
@joelday when the refactor is done, i can contribute with PHP support

[2017-01-10 17:50] mrapczynski opened #70 "Caret jumps after adding new JSDoc block"
As the title explains, the caret jumps up in a funny way after hitting Ctrl+Alt+D twice. Currently using VS Code `1.8.1` with Document This `0.3.6`

Here is a GIF to demonstrate:

![document-this-caret-jump](https://cloud.githubusercontent.com/assets/258614/21817749/0db8ae52-d71a-11e6-8124-f7e2f668e354.gif)

[2017-01-10 18:30] joelday commented on #70
Yikes. Looking at this now.

[2017-01-11 01:40] joelday commented on #70
@mrapczynski Just published 0.3.7 which should address this. Let me know if you're still having issues.

[2017-01-11 02:46] chliuqi opened #71 "Exception thrown in 'Document This': Could not find file: 'e:/Workspace/Eclipse_Neon_4.6.2_JavaEE/shushan/src/main/webapp/_static/app/process/bgMine.js'."
Platform: win32

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"Error","message":"Could not find file: 'e:/Workspace/Eclipse_Neon_4.6.2_JavaEE/shushan/src/main/webapp/_static/app/process/bgMine.js'.","stack":"Error: Could not find file: 'e:/Workspace/Eclipse_Neon_4.6.2_JavaEE/shushan/src/main/webapp/_static/app/process/bgMine.js'.\n    at get

[2017-01-11 03:43] ZhangCheng-zh opened #72 "Exception thrown in 'Document This': Could not find file: '/Users/CC/code/faConsultancyFe/src/quality-check/index.es6'."
Platform: darwin

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"Error","message":"Could not find file: '/Users/CC/code/faConsultancyFe/src/quality-check/index.es6'.","stack":"Error: Could not find file: '/Users/CC/code/faConsultancyFe/src/quality-check/index.es6'.\n    at getValidSourceFile (/Users/CC/.vscode/extensions/joelday.docthis-0.3.7

[2017-01-11 03:55] joelday commented on #72
Dupe of #71. Fixing now. Thank you!

[2017-01-11 03:55] #72 closed

[2017-01-11 04:07] #70 closed

[2017-01-11 05:00] joelday commented on #71
@chliuqi Let me know if this still happens in 0.3.8. It might take a few minutes before it shows up in the extension browser.

[2017-01-11 15:59] mrapczynski commented on #70
@joelday I tried it now just now, and the issue still seems to be there. Another GIF showing that I have 0.3.9 of the extension installed.

![caret-jump-v2](https://cloud.githubusercontent.com/assets/258614/21855610/e0eff28a-d7d3-11e6-8126-bc14162325b5.gif)

[2017-01-11 17:05] joelday commented on #70
@mrapczynski Strange. I wasn't able to repro it. Can you paste a list of your installed extensions and your settings? Thank you!

[2017-01-11 17:09] mrapczynski commented on #70
@joelday

Sure. List of installed extensions:
[code]

For the user config, these are the only things that I have alerted from the factory delivered settings:
[code]

[2017-01-11 17:14] joelday commented on #70
@mrapczynski Thanks. I'll try to get to this ASAP.

[2017-01-11 17:19] mrapczynski commented on #70
@joelday 👍

Also, my memory is foggy, but this may have started after either...

(a) certain docthis update in the not too distant past
or (b) I did in fact install an extension that conflicts

When I first started using docthis, I don't recall the jumping behavior. I've been tolerating for it awhile now. My bad for not reporting it sooner.

[2017-01-12 03:15] jannavarro opened #73 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: win32

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (C:\\Users\\iRemovedThisPart\\.vscode\\extensions\\joelday.docthis-0.3.9\\node_modules\\typescript\\lib\\typescript.js:78

[2017-01-12 23:57] aagavin opened #74 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: linux

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (/home/aaron/.vscode/extensions/joelday.docthis-0.3.9/node_modules/typescript/lib/typescript.js:78115:72)\n    at NodeObj

[2017-01-13 06:07] joelday commented on #74
Dupe of #73

[2017-01-13 06:07] #74 closed

[2017-01-13 06:07] joelday commented on #73
@jannavarro Can you provide a code snippet that reproduces this? Thanks!

[2017-01-13 06:08] #71 closed

[2017-01-13 06:09] joelday commented on #65
@Harris-Aaron Let me know if this issue persists in 0.3.9. Thanks!

[2017-01-13 06:09] #65 closed

[2017-01-13 06:13] joelday commented on #63
@Bugpatchcrashdebugging You can change it in your VSCode settings. Can you please suggest an alternative that won't conflict with anything? Thanks!

[2017-01-13 06:13] #63 closed

[2017-01-13 06:15] joelday commented on #60
@facelesspanda Fixed in 0.3.9. Sorry for the huge delay!

[2017-01-13 06:15] #60 closed

[2017-01-13 06:18] joelday commented on #59
@edDimensi Thanks for providing the call stack!

[2017-01-13 06:20] joelday commented on #61
@jorgecasar This should be fixed now.

[2017-01-13 06:20] #61 closed

[2017-01-13 06:21] joelday commented on #57
@Mixalloff Let me know if you see this again in 0.3.9. Thanks!

[2017-01-13 06:21] #57 closed

[2017-01-13 06:29] joelday commented on #51
Luckily the TypeScript has filled in most of the ES6 gaps, I believe. Can always reevaluate.

[2017-01-13 06:29] #51 closed

[2017-01-13 06:40] joelday commented on #32
Lost track of this one. This got added a while back. :)

[2017-01-13 06:40] #32 closed

[2017-01-13 06:45] joelday commented on #47
@TheOpenDevProject Finally moved us over to TypeScript 2.1.4.

We still need to fix this, but we have a good syntax tree for it now:

[code]

[2017-01-13 06:54] joelday commented on #69
@marcelh-gh Should be fixed in 0.3.9. Thanks!

[2017-01-13 06:54] #69 closed

[2017-01-13 06:58] joelday commented on #12
Closing obsolete tracking bugs.

[2017-01-13 06:58] #12 closed

[2017-01-13 06:59] joelday commented on #10
Closing obsolete tracking bugs.

[2017-01-13 06:59] #10 closed

[2017-01-13 06:59] joelday commented on #7
Closing obsolete tracking bugs.

[2017-01-13 06:59] #7 closed

[2017-01-13 07:00] joelday commented on #8
Closing obsolete tracking bugs.

[2017-01-13 07:00] #8 closed

[2017-01-13 07:01] #20 closed

[2017-01-13 07:01] joelday commented on #21
Out of scope.

[2017-01-13 07:01] #21 closed

[2017-01-13 07:15] joelday commented on #37
Can't repro this now. :)

[2017-01-13 07:15] #37 closed

[2017-01-13 07:16] joelday commented on #42
Tracking this in #53

[2017-01-13 07:16] #42 closed

[2017-01-13 13:41] fehrenhuber opened #75 "Document Extjs classes"
It would be nicce, if extjs classes are supported!

Ext.define('classname', {
});

[2017-01-13 13:43] fehrenhuber opened #76 "Document class property members"
It would be highly appreciated, that property members can be documented with keyboard shortcut!

[2017-01-13 22:20] aagavin commented on #73
I have the same issue from #74

`  private _routeTableExists():Promise<number>{
    ............
  }
`

[2017-01-14 15:37] mishengqiang opened #77 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: darwin

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (/Users/mishengqiang/.vscode/extensions/joelday.docthis-0.3.9/node_modules/typescript/lib/typescript.js:78115:72)\n    a

[2017-01-14 18:06] joelday commented on #77
Dupe of #73. Thank you! If you can offer any code snippet that reproduces it, that will be really helpful.

[2017-01-14 18:06] #77 closed

[2017-01-14 18:49] joelday commented on #73
@aagavin, can you provide your tsconfig.json and your vscode settings? Thank you!

[2017-01-15 03:26] jannavarro commented on #73
@joelday Thanks for your response. I encounter this intermittently and now it is working so I do not have a snippet to give now. If ever I encounter it again I will reopen the issue and submit the code along with my tsconfig.json and vscode settings.

[2017-01-15 03:27] jannavarro commented on #73
Oops, I realize I shouldn't have closed this as other issues are referencing this and waiting for a resolution.

[2017-01-15 16:04] aagavin commented on #73
## tsconfig

[code]

## vscode settings
[code]

[2017-01-16 11:47] marcelh-gh opened #78 "Used on TS code, return values of user defined type guards are not documented"
for example:

`function isFish(animal: Animals): animal is Fish {
    return (<Animals.Fish>animal).type === "fish";
}`

the return value of the function (animal is Fish) is not documented. jsdoc creates an error message instead.

[2017-01-17 21:52] Tsmith18256 opened #79 "Document This Causing Incorrect HTML Comments"
When I have Document This installed and press Ctrl-/ on a block of highlighted text in an HTML file, it is causing the block to be surrounded with `{#` and `#}`, instead of the proper ``.

[2017-01-17 21:55] joelday commented on #79
Couldn't reproduce this. Can you try disabling other extensions? It might be a conflict?

[2017-01-18 10:02] pKrav75 opened #80 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: win32

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Just typed CRTL+ALT D D while cursor was on a function

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (C:\\Users\\pmr\\.vscode\\extensions\\joelday.docthis-0.3.9\\node

[2017-01-20 11:44] shytikov commented on #80
Same here, but Windows 64 bit.

[2017-01-23 16:44] joelday commented on #80
Dupe of #73

[2017-01-23 16:44] #80 closed

[2017-01-23 16:45] joelday commented on #79
@Tsmith18256 Just pinging you real quick. Thanks!

[2017-01-23 16:45] joelday commented on #76
@fehrenhuber Hi! Can you provide a quick code sample of what you're looking to add comments to?

[2017-01-23 19:33] Tsmith18256 commented on #79
@joelday Hmmm, well this is weird. I disabled DocThis last week and the problem went away instantly, but now it seems to have come back. I guess it is another extension and maybe it just hadn't loaded yet when I tested it last week. Either way something went wrong there and I'll have to track down what extension is really causing the problem.

Sorry about the confusion!

[2017-01-23 19:33] #79 closed

[2017-01-23 19:34] joelday commented on #79
Weird! Well, let me know if you hit this again.

[2017-01-23 19:35] Tsmith18256 commented on #79
Just found the real culprit.. It was the TWIG Pack plugin. The weird comments I'm seeing are from the comment syntax for TWIG files, but for some reason it's impacting the HTML. Thanks for the help!

[2017-01-24 08:13] shytikov opened #82 "Exception thrown in 'Document This': Could not find file: '/5'."
Platform: win32

Steps to reproduce the error:

Try to run `Document This` (`Ctrl-Alt-D` + `Ctrl-Alt-D`) on document in diff mode. On that one that already commited (cannot be modified).

Code excerpt that reproduces the error (optional):

Any kind of code, that could be documented.

Exception:

{"name":"Error","message":"Could not find file: '/5'.","stack":"Error: Could not find file: '/5'.\n

[2017-01-26 06:34] WoodyWoodsta commented on #82
This error is occurring on Linux as well.

Exception:
{"name":"Error","message":"Could not find file: '/mnt/data/itdev/projects/ppro/ppro-app-project/src/app-core-module/app-tooltip/app-tooltip.es6'.","stack":"Error: Could not find file: '/mnt/data/itdev/projects/ppro/ppro-app-project/src/app-core-module/app-tooltip/app-tooltip.es6'.\n    at getValidSourceFile (/home/sean/.vscode/extensions/joelda

[2017-01-26 08:44] Devidian commented on #73
Got the same error, had some unknown object properties in my code

Example:

`item.userId`

where userId was no property of item (so it was red unterlined). I removed that code and it solved the problem!

[2017-01-26 09:30] Devidian commented on #73
I found additional issues related to this. If you have any open document with errors, this exception is thrown. First i tried to docthis a constructor like this;

[code]

in a file with errors somewhere else. Exception was thrown. Ok then i had another open file with no errors and wanted to docThis all unDoc'ed methods => Exception was thrown. I closed the tab with that error file and tried again

[2017-01-26 10:42] anatoly-spb opened #83 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: win32

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (C:\\Users\\stranger\\.vscode\\extensions\\joelday.docthis-0.3.10\\node_modules\\typescript\\lib\\typescript.js:78115:72)

[2017-01-26 11:11] #83 closed

[2017-01-26 17:48] joelday commented on #73
@Devidian Well, it should definitely be resilient to this kind of stuff. This is really helpful. Thanks!

[2017-01-30 06:10] riteshrao opened #84 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: darwin

Steps to reproduce the error:
Keyboard short cut on an interface definition. Seems to happen more often post a cut and paste operation. Executing the action again after a few seconds works however.

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text'

[2017-01-30 09:21] erdii opened #85 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: linux

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (/home/erdii/.vscode/extensions/joelday.docthis-0.3.10/node_modules/typescript/lib/typescript.js:78115:72)\n    at NodeOb

[2017-01-31 06:35] buehler opened #86 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Hey there, I encounter an error when using your plugin, it just happens sometimes (sadly)

I hope the err stack helps you!
Cheers

Platform: darwin

Steps to reproduce the error:
- code a function
- don't save the document
- press the combination for document this

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined

[2017-01-31 06:36] buehler commented on #86
Well.. possible dup of
#85 , #86

[2017-01-31 10:59] Devidian commented on #73
Ok, seems when i `CTRL+ALD+D` often enought it still works even when throwing this error. Just as a note to workaround this issue ;)

[2017-01-31 15:41] aagavin commented on #73
I can confirm that this also works for me

[2017-02-01 10:17] ferhtgoldaraz opened #87 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: win32

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (C:\\Users\\fherrero\\.vscode\\extensions\\joelday.docthis-0.3.10\\node_modules\\typescript\\lib\\typescript.js:78115:72)

[2017-02-03 07:27] garyhwilson opened #88 "Exception thrown in 'Document Everything': Cannot read property 'getText' of undefined"
Platform: darwin

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'getText' of undefined","stack":"TypeError: Cannot read property 'getText' of undefined\n    at Documenter._emitClassDeclaration (/Users/garyhwilson/.vscode/extensions/joelday.docthis-0.3.10/out/src/documenter.js:240:42)\n    at Documen

[2017-02-03 19:55] Elarcis commented on #59
Yep, issue's still there in 1.9 release. As this is the main method which I use to document, I was surprised this didn't work anymore :D

[2017-02-03 20:03] Elarcis opened #89 "Documenting a method will make the cursor jump… somewhere else."
When I do Ctrl+Alt+D Ctrl+Alt+D to comment a method while my cursor is situated **any amount of whitespace before** my documented thing, my cursor is moved somewhere else in the file.

It seems the place is determined by the height of the generated documentation. Would be great if it moved the cursor at the place of the documentation's description instead.

![demo](http://g.recordit.co/oi9HMrNsb2.

[2017-02-04 13:38] joshberg opened #90 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: win32

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (C:\\Users\\joshua.lindberg\\.vscode\\extensions\\joelday.docthis-0.3.10\\node_modules\\typescript\\lib\\typescript.js:78

[2017-02-06 17:27] andrewjrvs opened #91 "Exception thrown in 'Document This': Could not find file: 'Untitled-1'."
Platform: win32

Steps to reproduce the error:
Try to run Document This (Ctrl-Alt-D + Ctrl-Alt-D) on a New File which is unsaved.

1. Create New File [(file -> New File) or (Ctrl + N)]
2. Change Language to JavaScript [(Ctrl+K M) select JavaScript)]
3. Add a function ["function helloWorld(){}"]
4. Run Document This (Ctrl-Alt-D + Ctrl-Alt-D)

Code excerpt that reproduces the error (optional):

Exce

[2017-02-07 11:55] brunocechet opened #92 "Exception thrown in 'Document Everything': Could not find file: '/var/www/seekr/app/assets/javascripts/app/midias/controllers/midiascontroller.es6'."
Platform: linux

Steps to reproduce the error: I just try to generate the documentation.
Tip: - the file name is cameCase, the filename in the log is incorrect
       - I use ctrl + shift + P shortcurt

Code excerpt that reproduces the error (optional):

Exception:
{"name":"Error","message":"Could not find file: '/var/www/seekr/app/assets/javascripts/app/midias/controllers/midiascontroller.es6'.",

[2017-02-08 02:34] chujanen opened #93 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: darwin

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (/Users/chujanen/.vscode/extensions/joelday.docthis-0.3.10/node_modules/typescript/lib/typescript.js:78115:72)\n    at N

[2017-02-08 06:47] wf744 opened #94 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: win32

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (C:\\Users\\Administrator\\.vscode\\extensions\\joelday.docthis-0.3.10\\node_modules\\typescript\\lib\\typescript.js:7811

[2017-02-08 12:11] brunocechet opened #95 "Exception thrown in 'Document This': Could not find file: '/var/www/seekr/app/assets/javascripts/app/midias/controllers/midiascontroller.es6'."
Platform: linux

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"Error","message":"Could not find file: '/var/www/seekr/app/assets/javascripts/app/midias/controllers/midiascontroller.es6'.","stack":"Error: Could not find file: '/var/www/seekr/app/assets/javascripts/app/midias/controllers/midiascontroller.es6'.\n    at getValidSourceFile (/home

[2017-02-08 12:26] antoniofjr opened #96 "Add support for inline JavaScript in HTML Script tags."
Platform: win32

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"Error","message":"Could not find file: 'c:/Users/a.b.da.silva.junior/Documents/test.html'.","stack":"Error: Could not find file: 'c:/Users/a.b.da.silva.junior/Documents/test.html'.\n    at getValidSourceFile (C:\\Users\\a.b.da.silva.junior\\.vscode\\extensions\\joelday.docthis-0.

[2017-02-08 19:35] blendsdk opened #97 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: linux

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (/home/gevik/.vscode/extensions/joelday.docthis-0.3.10/node_modules/typescript/lib/typescript.js:78115:72)\n    at NodeOb

[2017-02-09 00:23] miguelramos opened #98 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: darwin

Steps to reproduce the error:

Property declaration in a class.

[code]

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (/Users/miguelramos/.vscode/extensions/joelday.docthis-0.3.10/node_modules/typ

[2017-02-09 08:15] tondynamic opened #99 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: win32

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (C:\\Users\\pornvit\\.vscode\\extensions\\joelday.docthis-0.3.10\\node_modules\\typescript\\lib\\typescript.js:78115:72)\

[2017-02-09 09:35] chuanxd opened #100 ".vue file not support"
`.vue` file is not support.
[code]

[2017-02-09 17:06] ThomasMichon commented on #59
This feature has been broken for me for a couple months at this point. Typing `/**`, even without indentation, is still failing. Hitting Enter merely triggers VS Code's normal auto-completion for this action.

[2017-02-09 17:44] joelday commented on #59
Fixed in 0.3.11. Thank you!

[2017-02-09 17:44] #59 closed

[2017-02-09 17:44] joelday commented on #100
Fixed in 0.3.11. Thank you!

[2017-02-09 17:44] #100 closed

[2017-02-09 17:45] joelday commented on #85
Dupe of #73

[2017-02-09 17:45] #85 closed

[2017-02-09 17:45] joelday commented on #86
Dupe of #73

[2017-02-09 17:45] #86 closed

[2017-02-09 17:46] joelday commented on #84
Dupe of #73

[2017-02-09 17:46] #84 closed

[2017-02-09 17:46] joelday commented on #87
Dupe of #73

[2017-02-09 17:46] #87 closed

[2017-02-09 17:46] joelday commented on #88
Dupe of #73

[2017-02-09 17:46] #88 closed

[2017-02-09 17:47] joelday commented on #89
Unable to reproduce this. Can you try again and reopen?

[2017-02-09 17:47] joelday commented on #90
Dupe of #73

[2017-02-09 17:47] #90 closed

[2017-02-09 17:48] joelday commented on #91
Fixed in 0.3.11.

[2017-02-09 17:48] #91 closed

[2017-02-09 17:48] joelday commented on #92
Fixed in 0.3.11.

[2017-02-09 17:48] #92 closed

[2017-02-09 17:48] joelday commented on #93
Dupe of #73.

[2017-02-09 17:48] #93 closed

[2017-02-09 17:48] joelday commented on #94
Dupe of #73

[2017-02-09 17:48] #94 closed

[2017-02-09 17:48] joelday commented on #95
Fixed in 0.3.11.

[2017-02-09 17:48] #95 closed

[2017-02-09 17:49] joelday commented on #97
Dupe of #73.

[2017-02-09 17:49] #97 closed

[2017-02-09 17:50] joelday commented on #98
Dupe of #73.

[2017-02-09 17:50] #98 closed

[2017-02-09 17:50] joelday commented on #99
Dupe of #73.

[2017-02-09 17:50] #99 closed

[2017-02-09 20:25] TimMensch commented on #89
I get this *every single time*. Except when DocumentThis throws an error, which is what happened the first time I tried it to reproduce the bug. Turns out if you use DocumentThis on a "new" file that isn't saved, it just crashes.

But back to the bug at hand: If you create [this file](http://pastebin.com/7Ftw2gpF) and put the cursor on the first character of line 7 (with the `f()` definition), the

[2017-02-09 21:18] joelday commented on #89
@TimMensch Get a 100% repro now. Will attempt to resolve this later today.

[2017-02-10 05:14] dayanand-saraswati opened #101 "Exception thrown in 'Document Everything Visible': Cannot read property 'text' of undefined"
Platform: darwin

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (/Users/dsaraswati/.vscode/extensions/joelday.docthis-0.3.10/node_modules/typescript/lib/typescript.js:78115:72)\n    at

[2017-02-10 08:48] tiefling opened #102 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: win32

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at Documenter._emitMemberOf (C:\\Users\\tempo_000\\.vscode\\extensions\\joelday.docthis-0.3.10\\out\\src\\documenter.js:302:56)\n    at Documenter._em

[2017-02-10 17:18] joelday commented on #102
Dupe of #73

[2017-02-10 17:18] #102 closed

[2017-02-13 03:50] lagelalegal opened #103 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
* Check to see if this might have been reported already. *
Platform: darwin

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (/Users/lagel/.vscode/extensions/joelday.docthis-0.3.11/node_

[2017-02-13 07:58] cqgsm opened #104 "Exception thrown in 'Document This': Could not find file: 'c:/administrator/work/sell/src/components/shopcart/shopcart.vue'."
Platform: win32

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"Error","message":"Could not find file: 'c:/administrator/work/sell/src/components/shopcart/shopcart.vue'.","stack":"Error: Could not find file: 'c:/administrator/work/sell/src/components/shopcart/shopcart.vue'.\n    at getValidSourceFile (C:\\Users\\caoqi\\.vscode\\extensions\\jo

[2017-02-13 09:24] juri33 opened #105 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
* Check to see if this might have been reported already. *
Platform: win32

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (C:\\Users\\..\\.vscode\\extensions\\joelday.docthis-0.3.11\\n

[2017-02-13 16:49] kyle-mccarthy opened #106 "Feature request: @throws in comment block"
It would be nice if a `@throws` would be added to the comment block if the function may potentially throw and error. For example...

[code]

Then if a specific error is throw the type would be changed, [MDN Errors](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error)

[2017-02-14 11:24] xblox opened #107 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: linux

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (/home/mc007/.vscode-insiders/extensions/joelday.docthis-0.3.10/node_modules/typescript/lib/typescript.js:78115:72)\n

[2017-02-15 04:52] abey-alex opened #108 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
* Check to see if this might have been reported already. *
Platform: darwin

Steps to reproduce the error:

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren (/Users/abeyalex/.vscode/extensions/joelday.docthis-0.3.11/no

[2017-02-15 14:55] akram1905 opened #109 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
Platform: win10x64

Steps to reproduce the error:
pressing Ctrl+Alt+D twice produce  the error only first time I use it.
Second time (pressing Ctrl+Alt+D twice) works.

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undefined\n    at NodeObject.createChildren

[2017-02-15 18:04] joelday commented on #109
Dupe of #73

[2017-02-15 18:04] #109 closed

[2017-02-15 18:04] joelday commented on #108
Dupe of #73

[2017-02-15 18:04] #108 closed

[2017-02-15 18:04] joelday commented on #107
Dupe of #73

[2017-02-15 18:04] #107 closed

[2017-02-15 18:04] joelday commented on #105
Dupe of #73

[2017-02-15 18:04] #105 closed

[2017-02-15 18:05] joelday commented on #104
@cqgsm Please update to the latest version. Thanks!

[2017-02-15 18:05] #104 closed

[2017-02-17 13:31] larssn commented on #106
Also request support for detected Observable.throw()

[2017-02-17 15:22] Roustalski opened #110 "Exception thrown in 'Document This': Cannot read property 'text' of undefined"
* Check to see if this might have been reported already. *
Platform: darwin

Steps to reproduce the error:

Place cursor above public function definition inside a typescript file. ctl+alt+d two times. Boom.

Code excerpt that reproduces the error (optional):

Exception:
{"name":"TypeError","message":"Cannot read property 'text' of undefined","stack":"TypeError: Cannot read property 'text' of undef

[2017-02-17 17:32] joelday commented on #110
Dupe of #73

[2017-02-17 17:32] #110 closed

[2017-02-18 17:16] joelday commented on #103
Dupe of #73

[2017-02-18 17:16] #103 closed

[2017-02-18 21:56] Xananax commented on #34
Maybe a minor difference, but I use one function per file and use `export default`, eg:

[code]

If that could be supported too, it'd be swell!

[2017-02-20 06:38] joelday commented on #101
Dupe of #73

[2017-02-20 06:38] #101 closed

[2017-02-21 01:00] edDimensi opened #111 "Object arguments"
It does not show the object arguments
[code]

![image](https://cloud.githubusercontent.com/assets/11390039/23146724/46687688-f7ea-11e6-802c-01182807c139.png)

After reload vs code, now display that
![image](https://cloud.githubusercontent.com/assets/11390039/23146827/4cddd2b4-f7eb-11e6-86c9-8069416a7151.png)
But this is not what is normally displayed

[2017-02-21 17:18] joelday commented on #111
There are a few things going on here to look into. Will come back to this as soon as I can.

[2017-02-21 17:21] joelday commented on #33
Now using snippets with tab stops for descriptions for insertion.

[2017-02-21 17:21] #33 closed

[2017-02-21 17:24] joelday commented on #70
@mrapczynski This should be fixed in 9.4.0.

[2017-02-21 17:27] joelday commented on #89
Should now be fixed in 1.4.0. Thank you! My apologies for not resolving this sooner.

[2017-02-21 17:27] #89 closed

[2017-02-21 17:32] joelday commented on #111
DocThis doesn't generate the object property notation, but that's a feature that should be added when the structure of that type is known. As for the behavior of the TypeScript language service, I can't really speak to that. Can you produce an example where it works properly?

[2017-02-21 17:34] joelday opened #112 "Support object property notation"
[code]

[2017-02-21 17:45] joelday commented on #111
Your notation looks correct, so I'm going to say this is external to the VSCode TypeScript language service. I added #112 for tracking adding output of object properties as a feature.

[2017-02-21 17:45] #111 closed

[2017-02-21 17:45] joelday commented on #34
@Xananax that has been getting on my nerves, too. :)

[2017-02-21 20:17] mrapczynski commented on #70
@joelday Tested, and so far working much better. Thank you!

[2017-02-22 07:11] tomoat opened #113 "The new version of the new bug"
vscode: 2.1.6
docthis version:0.4.0
os: macos sierra 10.12.3

The new version of the new bug,and old version does not have this bug
`/**`
Error: docthis: Failed to document at current position: Cannot read property 'kind' of null
<img width="570" alt="wx20170222-150018 2x" src="https://cloud.githubusercontent.com/assets/7428698/23200756/1676298e-f911-11e6-84a7-f378b851b7f2.png">

'Ctrl+Alt+D'
show

[2017-02-23 21:59] BRM013 opened #114 "Feature Request: Custom settings for including/excluding tags"
Would be great to be able to customize what tags are added to classes/functions etc.

For instance, deciding whether to include the @memberOf tag for members.

I know this might go against JSDoc standards but for those of use who only like some aspects of the standard it would be great to be able to customize.

Great job.

[2017-02-24 17:20] joelday opened #115 "Error message shown when starting any comment block"
After starting `/**` without being above any applicable symbol, documentation fails and an error message is shown.

[2017-02-24 17:22] joelday opened #116 "Adding a line under the first line of a block comment starts documentation"
With automatic block comment documentation enabled, when the selection positioned below `/**`, entering a new-line causes documentation generation to be attempted.

[2017-02-24 17:23] joelday commented on #115
Oops, dupe of #113.

[2017-02-24 17:23] #115 closed

[2017-02-24 17:29] joelday commented on #76
@fehrenhuber Reopen whenever you can get back to this. Thank you!

[2017-02-24 17:29] #76 closed

[2017-02-24 17:35] joelday commented on #78
@marcelh-gh Not sure how to handle type annotation for this due to limitations of the JSDoc/Closure Compiler spec. Same for intersection types.

[2017-02-24 17:35] joelday commented on #78
https://github.com/jsdoc3/jsdoc/issues/1285

[2017-02-27 07:02] rehannawab opened #118 "Unable to execute the 'Document Everything' command"
I see that the 'ctrl+d ctrl+e' command was removed. Is there any other way to run the document everything command or was this command intentionally removed?

[2017-02-28 09:59] #113 closed

[2017-02-28 17:08] joelday commented on #118
@rehannawab It was temporarily removed. Will be adding it back soon. Sorry!

[2017-02-28 17:50] joelday commented on #53
@im-kulikov @TheOpenDevProject Deep apologies for taking so long to resolve this one. This is now fixed in 0.4.2.

[2017-02-28 17:50] #53 closed

[2017-03-06 06:49] muyu66 opened #119 "How to customize document template ?"
example:

    /**
     * API
     *
     * @private
     * @param {number} id
     * @returns
     *
     * @memberOf FundSubjectController
     *
     *** @AAAAA jjdkasjdkasjduuyuysuyady**         ------->>>>  I  need it to appear every time finishing the comment automatically
     */

How to do ?

[2017-03-21 10:53] opendnb opened #120 "command 'docthis.documentThis' not found"
Hi.

I've installed the extension but after hitting ctrl+alt+d twice i get this error:

"command 'docthis.documentThis' not found"

Visual Studio Code 1.10.2.

Don't know if it matters, but I installed the extension manually due to network restrictions

[2017-03-28 22:04] jamesone commented on #34
Any update on this issue? Would be awesome if this were possible!!

[2017-03-30 23:14] axefrog commented on #116
I'm experience this bug right now I think:

![vscode-jsdoc-enter-key-bug](https://cloud.githubusercontent.com/assets/298883/24529973/4ecdf386-15f2-11e7-97ae-7951149cd2af.gif)

[2017-03-31 14:14] dtgriscom opened #121 "FR: require CR after `/**` to trigger automatic documentation"
DocThis is great for documenting TypeScript functions, and I especially like its automatic generation of JSDoc blocks for methods when I type `/**`. However, I find it problematic when documenting variables. The variable definition includes all the necessary type info; all I'd be adding is an English description of its purpose. So, for compactness, I like one-line comments, e.g. `/** Enables catch

[2017-03-31 14:23] joelday commented on #121
@dtgriscom I really like this idea. Unfortunately I'm slammed with other stuff right now. Can you take a peek at the subscription on https://github.com/joelday/vscode-docthis/blob/master/src/extension.ts#L48 and see if you can update the contentChanges evaluation to detect that?

Thanks!

[2017-03-31 14:26] joelday commented on #120
I'll try a manual install and let you know if it repros for me. Can you double-check the file extension where this happened?

[2017-03-31 14:28] joelday commented on #119
@muyu66 Will need to come up with a general solution for this. I'll put some thought into how to do this in a way that is simple and powerful.

[2017-03-31 14:31] joelday commented on #116
@axefrog That's a different, external issue. Unfortunately, the snippet feature in VSCode requires you to use shift-enter/shift-return when filling out a placeholder.

It might be a good idea to have an option to disable snippets, but unfortunately that requires bringing back some of the indentation code that has been difficult to keep reliable.

[2017-03-31 14:40] axefrog commented on #116
Ah, dang. Thanks anyway.

[2017-03-31 14:42] dtgriscom commented on #121
Interesting; I've never looked at VSC extension code before...

It looks like you're triggering on VSC automatically changing the final `*` of the typed `/**` to `* */`; is that right? If so, then you'll have to either maintain a history of actions, or do some more sophisticated analysis of the change (and what's there beforehand).

And, I, too, am slammed at the moment (yes: happy to request, una

[2017-04-04 09:33] neomib commented on #119
In my case i just need to turn:
[code]
into:
[code]
Almost the same just without the extra line.

[2017-04-04 15:39] joelday commented on #119
I'll see if I can get something working for this soon. Thank you!

[2017-04-04 15:42] joelday commented on #121
@dtgriscom Thanks for taking a look! The change matching is a bit weird. I've had to just look at the most recent change reported for the sequence and then match against it.

[2017-04-12 09:14] whitecolor opened #123 "Not documenting interface's inner signatures"
Can not document inner signature of the interface, comments always appear for interface on the top

[code]

[2017-04-19 19:00] evanwarner commented on #6
Yes please! I use the JSDoc syntax for longer comments in CSS files. Even just the auto insertion of ` * ` on new lines as I type would be marvelous.

[2017-04-22 16:12] dtgriscom commented on #121
Hi, Joel. I figured out how to handle this in extension.ts:

- Set up a static var `starSpaceStarInserted: boolean`

- In `activate()`, if `change.text == '* */`, then set `starSpaceStarInserted`. Otherwise, if `starSpaceStarInserted && change.text.charAt(0) = '\r'`, then insert the documentation. (Clear `starSpaceStarInserted` at all the appropriate places.)

So, I now have the code ignoring the

[2017-04-28 15:17] warpdesign opened #124 "@memberof should be lowercase"
In the jsdoc [specs](http://usejsdoc.org/tags-memberof.html), `@memberof` is written in *lowercase*. While most documentation generators use it even though it's not lowercase (`@memberOf`), some others, like [documentation](http://documentation.js.org/) won't use it if it's not written as lowercase.

[2017-04-29 20:26] #124 closed

[2017-04-30 02:52] mrdulin commented on #120
same issue. reload vscode can not solve.

[2017-04-30 23:57] ndresx opened #126 "Comment insertion splits up export and const keyword"
Hello, thanks for creating such a nice plugin! I want to report a minor issue with the `export const x ...` syntax.

Something like this
`export const withRouter = (Component) => {}`

turns by placing the cursor within `withRouter` into

[code]
Instead of being inserted above the function, the comment is inserted between the `export` and `const` keyword.

[2017-05-11 15:45] atishay opened #127 "Doesn't work on jsx files"

[2017-05-11 15:45] #127 closed

[2017-05-16 12:43] SelaO opened #128 "All param are "any" in js files"
I have js file with ES5 and ES6 classes, in both cases, I always get "any" as the params of functions.

Is there a way for it to recognize the types of the arguments?

[2017-05-26 09:36] BridgeAR commented on #118
Is there any estimate when this is coming back? Or can I help to bring back this feature? If so: would you be so kind and point why your removed it?
I see that you removed it in commit 491fe0ad68db3bc3a2031a833c7212463225d900 while changing the insertion to become snippets.

[2017-05-26 13:14] joelday commented on #118
@BridgeAR Thank you for offering to look into this. The main challenge was inserting the documentation reliably while retaining indentation. When the switch to the new Snippet API was completed, the extension now relies on it to handle the indentation logic. The caveat is that it can't be used to insert documentation multiple times all in one execution.

https://github.com/joelday/vscode-docthis/c

[2017-05-26 13:17] joelday opened #129 "Document This immediately stomps over the new JSDoc snippet in VSCode for /**"
After typing /**, it would be ideal to offer Document This as a snippet next to the recently added built-in JSDoc snippet instead of instantly documenting.

[2017-05-26 13:19] joelday commented on #129
Effectively solves #121

[2017-05-26 13:19] joelday commented on #121
@dtgriscom A fix to #129 should handle this for us. We'd get the /** detection for free, too.

[2017-05-26 13:19] #121 closed

[2017-05-26 13:20] joelday commented on #121
Thank you for digging into this!

[2017-05-26 13:24] joelday commented on #128
@SelaO unfortunately this won't be possible for .js files because even if the extension were currently able to examine types implicitly (without any type annotation), the function signature types can't be inferred from the inside out.

If I'm not mistaken, it might be possible to do this if https://github.com/facebook/flow were added for the purposes of examining the symbolic tree of .js documents

[2017-06-02 09:14] ifgx commented on #119
Did you find some ways to implement that feature ? @joelday

I'm looking for adding @author tag every time the comment generator is invoked.

[2017-06-02 10:21] ifgx opened #130 "Support @author tag"
I'm looking for adding @author tag every time the comment generator is invoked.

[2017-06-02 20:07] ifgx commented on #130
See #131 pull request

[2017-06-06 14:53] ifgx commented on #130
Fixed with PR merge https://github.com/joelday/vscode-docthis/commit/20f0f9d9d856d6db9da560aa7cc26a99b81e3e60

[2017-06-06 14:53] #130 closed

[2017-06-22 09:19] AlexusBlack commented on #96
This issue also blocks from using the plugin with custom web components. It requires js or ts file, when web components store html & js & css code in html file. As this is basically part of web platform, worth fixing I guess.

[2017-06-26 13:17] superamadeus opened #136 ""@type" and "@memberOf" appears on the same line."
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:13:05.928Z)
- OS Version: Darwin x64 16.6.0

Documenting a member of a class with a type annotation results in the `@type` and `@memberOf` declarations emitted on the same line.

[2017-06-29 03:21] ZPOMI opened #138 "hope support @create_time or @ dev_time in this plugin"

[2017-07-04 20:23] alohaninja opened #139 "Add Namespace Support"
Can we add support for **modules** with @namespace? This is useful for angular apps using modules.

[code]

[2017-07-07 17:03] BigForNothing opened #140 "Cannot read property 'text' of undefined"
I checked through the issues, and while most issues was were closed as dupes of #72, this itself isn't and is a very easy fix. Here is the stack trace.
[code]

[2017-07-08 06:01] bitqiang commented on #113
How do you solve the problem later?
I met this problem today, too
The version is 0.4.6

[2017-07-11 03:07] SuperMarioBean opened #142 "es6 Destructuring assign support?"
I found es6 when I use function Destructuring assign, docthis will generate the comment like this:

[code]

could it can be like this?

[code]

[2017-07-11 16:16] #140 closed

[2017-07-12 11:44] chrisbward opened #143 "Does not seem to trigger for AMD-based pattern"
Hi,

I'm getting "Sorry! 'Document This' wasn't able to produce documentation at the current caret position." when trying to CTRL+ALT+D twice.

0.4.7 - this is for a Backbone app

[2017-07-12 15:37] joelday commented on #143
@chrisbward Can you paste a short code sample for me to take a peek at? Thank you!

[2017-07-12 15:39] joelday commented on #136
Huge thank you for submitting a fix!

[2017-07-12 15:39] #136 closed

[2017-07-13 08:46] super-kamil commented on #96
Same here... can't use it inside of Polymer web components.

"Sorry! 'Document This' currently supports JavaScript and TypeScript only."

[2017-07-14 15:03] LukeLindsey commented on #119
This would be a great feature. I'd love to be able to define rules or templates for the different cases.

[2017-07-20 02:42] dyh333 opened #144 "can docthis export dev document?"
as the title, can docthis export dev document such as pdf or others?

[2017-07-20 17:27] JimiC opened #145 "Switch logo to format other than SVG"
As per https://code.visualstudio.com/updates/v1_14#_extension-authoring

[2017-07-22 20:17] joelday commented on #145
@JimiC Do you know off-hand if the VSCode team has suggested an ideal image resolution?

[2017-07-22 20:21] JimiC commented on #145
Should be no less than 128x128 so it can show up unblurry in the marketplace and inside the `vscode` extension details panel.

[2017-07-22 20:27] joelday commented on #145
Ergh, are they scaling to 72dpi on the marketplace regardless?

https://github.com/Microsoft/vscode-docs/issues/1101

[2017-07-22 20:30] JimiC commented on #145
Looks like so. We use a 504x504 image which gets scaled to 128x128.

[2017-08-09 08:49] christophediprima opened #146 ""trailing whitespace" compilation error in typescript"
I use it with typescript but the comments are generated with trailing whitespaces that is considered as an error for the compiler.

Is it possible to have the comments generated without these spaces?

[2017-08-11 13:06] dannyrb opened #147 "DocumentThis not working in .vue component files between <script> tags"
I'm using VueJS's single "Component" files. They have a `.vue` extension and contain three parts:

[code]

When I try to use `Document This` in the JS section, I receive the following error:

Moving the JS to an external `.js` file allows the plugin to work as expected.

[2017-08-17 03:52] citrusjunoss opened #148 "Exception thrown in "Document This' wasn't able to produce documentation at the current caret position""

[2017-08-22 11:58] zimplexing commented on #138
and @author hope to supported

[2017-08-22 12:04] ZPOMI commented on #138
@zimplexing
you should config those in your settings.json
<pre><code>
  // When enabled, will add the @author tag.
  "docthis.includeAuthorTag": true,

  // When docthis.includeAuthorTag is enabled, will add @author tag with this value.
  "docthis.authorName": "pomi",
</code></pre>

[2017-08-24 12:37] #145 closed

[2017-08-24 12:37] joelday commented on #145
@JimiC Thanks!

[2017-08-24 15:40] joelday commented on #129
Will switch to implementing `CompletionItemProvider`.

[2017-08-26 16:20] chgibb opened #149 "Unable to Document export let Statements"
VSCode: 1.15.1
Document This: 0.4.8
tsc: 2.3.4
OS: Ubuntu 16.04
![example ts phat visual studio code_011](https://user-images.githubusercontent.com/18079458/29743106-e7dd5866-8a58-11e7-838c-69fdaecef124.png)

[2017-08-31 08:08] akshayeshenoi commented on #96
Are there any timelines available for fixing this bug?

[2017-08-31 08:16] AlexusBlack commented on #96
With release of Polymer 3.0 this will be not required as they are gonna
move template to JS module template string instead of HTML imports as in
0.5-2.0 .

On Thu, 31 Aug 2017 at 18:08, Akshaye Shenoi <notifications@github.com>
wrote:

--
__
Alex Chernov

[2017-09-05 03:38] Cologler opened #150 "A suggest."
change `activationEvents` to only work for js and ts like this:

[code]

This should save vscode launch time.

[2017-09-08 07:52] RanzQ commented on #146
Similar issue with eslint rule `no-trailing-spaces`. Would be easier to add spaces manually if needed.

[2017-09-17 01:01] michaelaflores commented on #119
I'd really love if that extra line wasn't there as well. I'm curious what's the need for autogenerating a second blank line? Or is that actually how JSDoc comments are supposed to look?

For me it's a bit of a pain as it triggers a linting rule about training spaces if I don't go manually remove it. Perhaps an alternative if the extra line is there for a good reason is to not have it generated wit

[2017-09-25 04:41] pureliumy commented on #149
VSCode: 1.6.1
Document This: 0.4.8
OS: Deepin 15.4.1
I have this problem too.

[2017-09-26 13:09] Spown opened #151 "undefined error"
Originally [vscode-firefox-debug #49](/hbenl/vscode-firefox-debug/issues/49)

![](https://drive.google.com/uc?id=0B-OJBofmehO3NTd0ZnVyT3M1anc)
Occurs randomly on Step Over when debugging with the mentioned debugger. The culprit seems to be [this check](/joelday/vscode-docthis/blob/48e7c3bd32709c75744e53a830da4c2f8022da70/src/extension.ts#L58)

[2017-09-26 21:53] vladeck commented on #148
I'm not sure on what piece of code this extension is failing for OP, but when i try to document this:

[code]

I get

**Sorry! 'Document This' wasn't able to produce documentation at the current caret position.**

I'm using

- Typescript 2.1.5
- Document This 0.4.7
- VSCode 1.16.1

[2017-10-09 22:56] TheOpenDevProject commented on #151
Have you got a trace?

[2017-10-10 07:59] Spown commented on #151
[this?](https://github.com/hbenl/vscode-firefox-debug/issues/49#issuecomment-331645724) anyway it's the only thing I have.

[2017-10-13 17:31] seanmcbreen opened #153 "Multi-root Workspaces and DocThis"
Hi,

I'm from the VS Code team and I'm reaching out with some additional resources for adopting multi-root workspaces.

But first let me say thank you for working on and maintaining [Document This for VS Code](https://marketplace.visualstudio.com/items?itemName=joelday.docthis) which is one of the most popular extensions, we really appreciate the work you have done to make VS Code better.

The pur

[2017-10-13 20:48] joelday commented on #153
@seanmcbreen Will be checking this out soon. I haven't heard of any issues from Insiders users, but use of the deprecated property should be removed nonetheless. Thanks for having such an active relationship with the extension developer community.

As a side note: I've been unable to keep up with this project as much as I think is adequate. I'd like to get an idea from the TS/VSCode teams of what

[2017-10-16 21:18] mjbvz commented on #153
@joelday I'd love to make VS Code's built-in jsdoc support better. I think this extension addresses  different use case though than what we have been targeting previously

In typescript files, the type-system itself is used as the source of truth. You can have jsdoc type annotations and annotations such as `@extends`, but TypeScript will ignore them and there is nothing to prevent them from gettin

[2017-10-17 18:28] matthew-dean opened #154 "[Feature Request] Support code in <script> blocks"
When running inside a `<script>` block in an HTML file, I got this error:

`Sorry! 'Document This' currently supports JavaScript and TypeScript only.`

Is there any reason why the extension couldn't support script blocks? These are Polymer 1.x files, so the script blocks can't be moved to external sources, unfortunately.

[2017-10-22 20:07] r44083 opened #155 "Doxygen support"
How about adding doxygen support? Is this feature in plan?

[2017-10-27 15:47] mikyladewitt opened #156 "Add Ability To Specify Additional Extensions"
Request feature to be able to add extensions that Document This should automatically generate JSDoc comments for.

For example, if I am writing a groovy file, the comments use the exact same style as the comments Document This already adds. Currently, if I try to use Document This shortcuts, I get a warning that says Document This is only supported in Javascript and Typescript. If I could specify

[2017-10-30 23:38] seanmcbreen commented on #153
**Request:** if you have prepared your extension for Multi-root Workspaces we would love you to add multi-root ready to your `package.json` i.e. `"keywords": ["multi-root ready"]`. If you upgrade to `VSCE 1.32.0` this can be added to any existing keywords and will not be counted against the maximum of 5 allowed keywords.

This will help us keep track of adoptions and also help users know which ext

[2017-10-31 07:03] wellwind opened #157 "Can not add document comment without shortcut."
Before recently plugin update, I cant just type `/** ` then the document comment could be complete, without `ctrl + alt + d` shortcut.

But after update the plugin to 0.6.0, this doesn't work. I have to select "Document This" manually.

![docthis-issue](https://user-images.githubusercontent.com/8186117/32211240-95486992-be4c-11e7-90e3-f4c498396314.gif)

Is there any way to get this feature back?

[2017-11-01 07:29] Svanmark commented on #157
Having the same issue.

[2017-11-01 16:11] joelday commented on #157
@wellwind @Svanmark I concluded that it is important at this point to avoid obscuring VSCode/TypeScript's built-in JSDoc support for existing users. There are also likely users who have installed it, encountered the completion and assumed that the built-in completion was docthis when it actually isn't.

That said, I agree with bringing this behavior back so that users can opt back into it, but wit

[2017-11-01 16:13] joelday commented on #155
@r44083 Can you clarify/elaborate on the behavior you want to see in relationship to doxygen? Thank you!

[2017-11-01 16:15] joelday commented on #154
I think this is doable, albeit with some gymnastics around extracting the content for the TypeScript language service to scan and then mapping it to the positions of the original document. Should look at how other extensions, if any, are doing this.

[2017-11-01 16:26] joelday commented on #153
@mjbvz I agree with that. I think that at this point, the only truly valid case is to add inferred type information when writing regular JavaScript. Doing that would require having symbolic information, though and I have concerns with the complexity of running and properly configuring an instance of the language service that goes beyond looking at the AST.

Going forward, I'd like to have less emp

[2017-11-01 16:26] joelday commented on #153
@seanmcbreen 0.6.0 should be good. I'll try to get that tag added soon.

[2017-11-01 16:30] joelday commented on #147
Now covered by #154

[2017-11-01 16:30] #147 closed

[2017-11-01 16:31] joelday commented on #146
@christophediprima @RanzQ Agreed. This has been annoying me, too.

[2017-11-01 16:32] joelday commented on #144
@dyh333 Sorry, but that's covered by other tooling such as https://github.com/TypeStrong/typedoc and https://github.com/jsdoc3/jsdoc.

Thank you!

[2017-11-01 16:32] #144 closed

[2017-11-01 16:35] joelday commented on #138
I'm concerned about adding tags that are (at least significantly) outside of the JSDoc spec. I'd rather support this through some kind of templating support. (#119)

[2017-11-01 16:35] #138 closed

[2017-11-01 16:37] joelday commented on #114
Should cover this via #119.

[2017-11-01 16:37] #114 closed

[2017-11-01 22:02] seanmcbreen commented on #153
Awesome!

Yes we have a community run slack and a few of the team are in there every now and again - come on and join in :)

[2017-11-03 15:17] nattyxd opened #158 "Indentation not being respected"
Take the following snippet:
[code]

If I use Document This on this snippet, the following output is created:
[code]

When the following should be generated instead:
[code]

If I manually add a blank line, indented to the correct position, then this issue does NOT occur.

This only occurs when there is a completely blank line in the previous line.

[2017-11-04 14:09] wellwind commented on #157
How about add a setting like `docthis.overrideNative = false`，then we can set it to `true` and bringing this feature back.

[2017-11-10 13:40] larssn opened #159 "Inferred return types are not documented (TypeScript)"
[code]

Documenting this method becomes:

[code]

Shouldn't Document This infer that the return type is a string, and mark it as such?

[2017-11-10 17:37] joelday commented on #159
https://github.com/joelday/vscode-docthis/issues/23

[2017-11-10 17:37] #159 closed

[2017-11-10 17:38] joelday commented on #159
@larssn The big challenge here is that Document This currently works by only scanning the syntax tree rather than bringing up the type system, which has a lot of complexity. I've experimented with this in the past, but there might be easier options now. Will try to revisit it.

[2017-11-10 17:39] joelday commented on #23
Look at https://github.com/Microsoft/TypeScript/wiki/Writing-a-Language-Service-Plugin

[2017-11-10 18:40] Vvkmnn opened #160 "[Bug] "...wasn't able to produce documentation at the current position.""
Just installed. Kinda looks like #113 and #148.

![](https://i.imgur.com/0JfxPkV.png)

**OS**: macOS Sierra (10.12.6)
**Editor Version**: Visual Studio Code Insiders (1.18.0-insider)
**Extension Version**: Document This 0.60

[2017-11-22 01:56] ShayBox commented on #158
This is very annoying to have to fix every time I place a comment

[2017-11-24 08:51] w3cmark opened #161 "it does not work when in the first line of the document"
+ vscode version: v1.18.1
+ docthis version: v 0.6.0

it will overwrite the previous line of code or does not work when in the first line of the document.

When I want to use it, I have to reserve a line in front of it ?

![docthis](https://raw.githubusercontent.com/w3cmark/blog/master/assets/docthis.gif)

[2017-11-28 09:31] raulvillora commented on #120
Me too. Same issue.

[2017-12-04 14:26] mayaro opened #162 "[improvement] Documenting fat arrow functions that are declared using const or let"
Steps to reproduce:
1. Write a function declaration this way:
`const fun = (param1, param2) => {
    console.log(param1, param2);
};`
2. Try to add documentation for this function

I'm not sure if this was already added as a issue, but I did not manage to find it and it would be nice to have.
Can anyone confirm and give feedback for this?

[2017-12-07 10:42] jnachtigall commented on #64
I don't think clearing the current jsdocs is best, because I usually annotate (describe) the paramters also. That is it should rather be updated:

For instance for:
[code]

Clear everything left of the hyphen (`-`) and keep everything right of it. This way updating would be painless.

[2017-12-07 12:31] alanaasmaa commented on #162
It works when you but your cursor inside `(param1, param2)` and press the hotkey. But it does not work when returning promises and has some other issues with ES6

[2017-12-15 22:37] Dave9036 opened #163 "Document this"
ext install joelday.docthis

[2017-12-16 09:19] alanaasmaa opened #164 "[Extension Host] Activating extension `joelday.docthis` failed: Invalid or unexpected token"
Does not work after latest update.

[code]

[2017-12-20 13:11] klarkc commented on #100
Still not working: `Sorry! 'Document This' wasn't able to produce documentation at the current position.`

.vue file:
[code]

[2017-12-22 17:58] dtgriscom opened #165 ""/**" pops up a menu, and I have to click on it to generate the doc"
Recently (perhaps since the 0.6 update?) when I type "/**" to generate documentation, I get the following popup menu:

![image](https://user-images.githubusercontent.com/842958/34307660-3a02ac0c-e717-11e7-9029-4da8753081bf.png)

The only way I can then get DocumentThis to insert its code is to click on the second ("Document This") item in the menu. Even if I use the down-arrow to choose the item,

[2017-12-30 11:14] csakaszamok commented on #154
+1

[2017-12-31 15:03] #162 closed

[2018-01-06 06:01] TheOpenDevProject commented on #154
Why are you even using inline
[code]

[2018-01-06 08:25] joelday commented on #154
@TheOpenDevProject IMO, usually developers only do terrible things when they don't have any other choice. So my goal is to give them what they want, prioritized by demand, even if it's for something dumb. :)

[2018-01-06 10:34] mvuajua commented on #154
Just because you're writing things in script tags doesn't mean things will end up in script tags.

Vue.js for example allows you to use single file components with template and script tags, which then get pulled by webpack and compiled to JS files.

[2018-01-06 14:32] joelday commented on #154
I was not aware of that. That's cool.

[2018-01-08 17:29] matthew-dean commented on #154
Correct. I don't make the policy on how these web components are constructed. And typically web components organize everything inline as a matter of best practice. Like Vue: HTML, CSS, and JS in one file. That's the whole point, to separate concerns into components.

[2018-01-12 09:33] PenchalaiahY commented on #165
Did you tried Ctrl + Alt + D as specified in documentation. https://marketplace.visualstudio.com/items?itemName=dweizhe.docthis-customize-tags

[2018-01-12 13:06] dtgriscom commented on #165
That certainly works, but then why the menu? And why isn't it as quick as it used to be to generate documentation; just type "/**" and return? I'm guessing the author didn't want to make it harder, so I'm guessing there's a bug somewhere.

[2018-01-15 13:57] apertureless commented on #154
+1 for Vue Single File Components which looks like this

[code]

[2018-01-19 02:35] zhenwoo opened #166 "Document This do not work on vue file"
Document This do not work on vue file

[2018-01-23 16:28] joelday commented on #153
@mjbvz I'm working on moving the core of this project over to a language service plugin. It'll still be emitting (much better) type information when configured to do so, but the biggest draw is going to be advanced templating and in-place updates. Thanks!

[2018-01-23 22:42] mjbvz commented on #153
@joelday Cool! Let me know if you have any questions about this or run into any problems

[2018-01-31 16:02] AleksueiR commented on #166
Duplicate: https://github.com/joelday/vscode-docthis/issues/154

[2018-01-31 16:04] joelday commented on #154
Will need to test, but this should be resolved in an upcoming update that is based on a TypeScript language service extension.

[2018-02-05 16:14] blopez2010 opened #167 "Uncaught errors in vscode 1.19.3"
According to `Running Extensions` feature.

- Extension Name: docthis-customize-tags
- Extension Version: 0.4.5
- OS Version: Darwin x64 17.4.0
- VSCode version: 1.19.3

[code]

[2018-02-05 16:18] joelday commented on #167
@DingWeizhe, can you field this one before I investigate? Thanks!

[2018-02-06 08:10] Ammonix opened #168 "(Bug) typescript: @template gets generated twice for same type"
## Function:
[code]
### Expected behavior:
[code]
### Actual behavior:
[code]
_Note: `@template T` gets generated twice_

This has probably to do with the default assignment of `R`.

[2018-02-06 15:57] MartinMuzatko opened #169 "If the signature of the function is async, always use @returns {Promise}"

[2018-02-12 09:23] thehulke opened #170 "Key binding not working on mac"
Hello,
There isn't so much to point out there when i press *2 `ctrl + alt + D', it does not work.
As well for `cmd + alt + D`

please help, thanks!

[2018-02-17 04:04] AlexWang-16 commented on #170
Just ran into this issue as well. ctrl + alt + D and cmd + alt + D is the shortcut to bring up the dock in Mac. Is there a way to change the key binding for this?

[2018-02-18 13:41] fernandoval commented on #148
I'm experimenting the same problem when trying to doc a object method/function.

Sample code:

[code]

When pressing Ctrl+Ald+D twice to document **myMethod** function, the error occurs.

If I type \\** and enter in the previous line, the error occurs also.

[2018-02-22 11:18] xxcanghai commented on #161
@joelday

[2018-02-23 09:04] Moncef12 opened #171 "Losing indentation after doc generation"
The problem as the title describes happens just after using Ctrl+at+D.

[2018-02-23 10:39] Moncef12 opened #172 "[Feature request] generate doc for entire class/functions in a file"
It would be nice to go on top and generate doc for all the class. Rather than having to go to each method.

[2018-02-23 20:20] TheDutchCoder opened #173 "Add arrow functions support"
It would be nice if the plugin could support arrow functions.

Current behaviour:
[code]

Requested behaviour:
[code]

[2018-02-28 06:03] reyhansofian commented on #171
it happens to me too and I'm using VIM extension too

[2018-03-09 07:11] Rukeith commented on #148
I got the same issue. Even I use a simple function like this.

[code]

[2018-03-14 09:09] benjaminhorner commented on #170
Same here.

[2018-03-26 12:39] jfillioux commented on #170
Same here

[2018-03-26 15:04] joelday commented on #170
@thehulke @AlexWang-16 @benjaminhorner @jfillioux

Can everyone provide suggestions on what they'd rather have as the default? I'd hate to pick something else that most users dislike.

You can try out alternatives by changing the key binding in your settings: https://code.visualstudio.com/docs/getstarted/keybindings

[2018-03-26 15:07] benjaminhorner commented on #170
I suggest CTRL + OPTION + d. It is not yet used in VS and is rather convenient without being complicated.

[2018-03-26 17:28] AlexWang-16 commented on #170
Just wanted to provide an update on the issue. I've tested pressing ctrl + alt (option on the mac) + d twice and it works. I apparently did not read the docs carefully. My appologies.

While the documentation is fairly self-explanatory, I would like to suggest that the documentation mentions the keybinding is for both Mac and PC users. Mac users tend to interpret "ctrl" as the mac equivalent for "

[2018-03-28 21:36] auchenberg opened #174 "We plan to feature your VS Code extension!"
Hi,

It's Kenneth from VS Code. I'm reaching out to tell you that we plan to feature your awesome VS Code extension on our marketplace https://marketplace.visualstudio.com/#VSCode in the next iteration.

Please work with your community to resolve any major issues, as you'll probably see a significant bump in new users trying your extension.

Thanks for the great work, and happy coding!

/k

Kennet

[2018-03-29 02:54] TheOpenDevProject commented on #174
@auchenberg Thanks. What date is the next iteration?.

[2018-03-29 02:56] TheOpenDevProject commented on #171
I will investigate later this week.

[2018-03-29 02:59] TheOpenDevProject commented on #173
@joelday Didn't we look into this, I don't remember why but for some reason it was a breaking change to the way we parse the document. Ill re-investigate later in the week now im back into doing these FOSS projects.

[2018-03-29 16:25] auchenberg commented on #174
Next week @TheOpenDevProject

[2018-03-29 16:36] joelday commented on #174
@auchenberg Thanks a bunch! We'll see what we can get resolved before then. As always, it's super appreciated to get communications and feedback from the vscode team.

[2018-03-30 07:59] 1824437 opened #175 "比较low"
es5语法下，如
`
{
fn: function (){}}
`
无法/**，使用ctrl+alt+DD,没有缩进量。十分low B.

[2018-03-30 08:02] 1824437 commented on #175
如果不预先留个空行，使用ctrl+alt+DD会把上一行代码替换掉。十分low b.

[2018-04-03 13:25] mukuljainx commented on #173
@TheDutchCoder, not a solution but if you will press the shortcut from 2nd line of the function it will consider params too but will miss the class (memberof).

[2018-04-06 14:11] bytesoftly commented on #170
On Ubuntu 16.04 Ctl-Alt-D navigates to desktop, an OS shortcut, preventing this binding from working.

[2018-04-14 12:16] 50l3r commented on #154
+1

I need this. There's no exist any extension like dockblockr in sublime text 3

[2018-04-15 10:45] thehulke commented on #170
@AlexWang-16 I got both new and old macs with latest OS + VSC on them and the above does not work.
@joelday Since Command + Alt + D shows and hides the dock, i would recommend Ctrl (option) + Alt + d.

[2018-04-18 19:55] karloluis commented on #170
This should work on Mac just fine.

`cmd+alt+/`

Please rate using emoji's.

[2018-04-19 02:35] Double-Lv commented on #154
+1

[2018-04-24 18:26] adamcolejenkins commented on #154
+1

[2018-04-27 09:08] NearAutomata commented on #171
I can confirm this bug happening only when pressing <kbd>⌃</kbd><kbd>⌥</kbd><kbd>D</kbd>/<kbd>⌃</kbd><kbd>⌥</kbd><kbd>D</kbd>. Using the command from the command palette will not mess with the indentation.

[2018-05-02 04:28] DennisGuo commented on #154
+1

[2018-05-07 23:25] adrianmui commented on #142
+1 on this. This is how the offical jsdocs does it as well.

[2018-05-11 10:33] JackuB commented on #160
![docthis](https://user-images.githubusercontent.com/1788727/39920399-3b022c36-5517-11e8-861c-6c83882b6c6e.gif)

Found out that you can get Doc This to work reliably if you move cursor inside the function/method.

[2018-05-11 14:44] NearAutomata opened #177 "Renaming a class propagates to @type but not @memberof"
When I rename a class using the <kbd>F2</kbd> keybind all references in `@type` tags are properly replaced but all members of the class still have the old name in `@memberof`.

[2018-05-21 11:41] roy-lau opened #178 "Can not add annotations to the literal quantity of the function?"
![docthis](https://user-images.githubusercontent.com/22829291/40305850-e05d9958-5d2e-11e8-9a7b-406087c00a9e.gif)

[2018-05-22 18:57] chrisjlee opened #179 "tags?"
Is there a reason why there isn't a tagged release?

[2018-05-23 20:52] OverGlass commented on #154
+1

[2018-05-24 14:42] joelday commented on #174
Thank you for featuring it!

[2018-05-24 14:42] #174 closed

[2018-06-01 14:36] joelday commented on #178
To anyone who wants to pick this up: Find the arrow function node under a variable declaration node. Use the declaration identifier and (I assume) document it as a function. Would be good to verify what the JSDoc spec says about this (if anything), because it also overlaps with the scenario where you are documenting any other kind of variable declaration.

[2018-06-01 14:37] joelday commented on #173
Tracking this in #178

[2018-06-01 14:37] #173 closed

[2018-06-01 14:39] joelday commented on #146
@christophediprima @RanzQ Fixed in 0.7.0

[2018-06-01 14:39] #146 closed

[2018-06-01 14:40] joelday commented on #34
Tracking this with #178

[2018-06-01 14:40] #34 closed

[2018-06-06 15:09] mmenik commented on #172
it would be great feature

[2018-06-06 21:29] TheOpenDevProject commented on #172
Ill take a look at this tonight after work.

[2018-06-06 21:31] TheOpenDevProject commented on #179
It's just not the way @joelday does releases i think

[2018-06-06 21:32] joelday commented on #179
Haven't bothered automating it.

[2018-06-06 21:34] TheOpenDevProject commented on #175
We do not support other language's at this time, sorry about that. Closing issue.

[2018-06-06 21:34] #175 closed

[2018-06-06 21:37] TheOpenDevProject commented on #164
@alanaasmaa Could you post the source that caused this issue, thanks.

[2018-06-06 21:40] TheOpenDevProject commented on #151
Sorry its taken so long. I doubt this is an issue with DocThis but ill take a look. It looks like VSCode is failing to provide us the object we use to get the text from the document.

[2018-06-06 21:41] TheOpenDevProject commented on #156
@joelday

[2018-06-13 20:09] alanaasmaa commented on #164
I dont think this issue is relevant anymore. Dont remember.

[2018-06-13 20:09] #164 closed

[2018-06-27 11:06] #179 closed

[2018-06-28 07:03] zrzs commented on #148
used "doc this" where the line before my class,also alert this error message

[2018-07-03 07:48] BluesVN commented on #148
`var test={
/*It doesn't work!  */
  chunk: function (ary, size = 1) {
    let res = [];
    for (let i = 0; i < ary.length; i += size) {
      res.push(ary.slice(i, i + size))
    }
    return res;
  },
}`

[2018-07-04 18:22] bjenkins24 commented on #142
+1

[2018-07-12 15:31] AdamKernig commented on #172
Did this get looked into?

[2018-07-23 18:43] rmorabia commented on #154
+1 from here, too! Any update on the obstacles?

[2018-07-25 08:34] RickyWong33 commented on #154
+1

[2018-07-27 05:59] lukasbash commented on #159
What is the status on this? I see also #23 has been closed.
It would be super useful if we could also use inferred types in the docs.

[2018-07-28 13:38] skjnldsv commented on #142
Any news?

[2018-08-03 02:46] zimplexing opened #183 "@auth and @date tag not work when use function expression"
@auth and @date tag don't work when use function expression
and it work when use function declarations
[code]

[2018-08-12 12:01] Acidic9 commented on #154
+1

[2018-08-15 13:05] MarceloNG commented on #154
+1

[2018-08-28 16:02] Telokis commented on #178
The JSDoc spec doesn't specify anything regarding this because (I think) it is stuck in ES5 so arrow functions don't exist at all.
Anyway, I noticed that

[code]
isn't picked up by docthis either.

In my humble opinion, both of those cases should be treated as if we were declaring a function and not a variable because it seems to be what people intend/expect.

[2018-09-05 06:15] xiuxiushenma opened #184 "there is a problem in my code but i don'i know How to solve this problem"
I haven‘t written anything  yet

[2018-09-05 06:53] xiuxiushenma commented on #148
not anything in my code but there are a problem ,
description: Sorry! 'Document This' wasn't able to produce documentation at the current position.

[2018-09-08 10:45] nickstamat commented on #120
I'm also experiencing the same issue for some months now.
Is there any update? Can I somehow help debugging this?

[2018-09-17 02:01] ddtramp commented on #166
i think this feature not available, always

[2018-09-17 22:10] erick-rodriguez opened #185 "issue documenting "this" properties inside of a constructor"
Hello!

I love your extension.

There is a small issue regarding constructors on es6. when I try to document a property on the constructor, it documents the whole constructor rather than the sole method:

instead of (assuming the constructor is already documented):
[code]

when documenting `this.templatePath` does this:

[code]

Any help? thanks

osx 10.13.6
vscode 1.27.2

[2018-09-19 11:46] kornalius commented on #154
+1

[2018-09-19 19:15] marcelogdeandrade commented on #178
Hello, I can try helping with this issue. Could someone help me building this source code into VSCode? It's my first time contributing to an VSCode Extension. Thanks!

[2018-09-21 03:02] sally2015 commented on #154
Has the problem solved？

[2018-09-25 09:55] baoduy opened #186 "Support Generate document for propTypes"
It would be great if supporting the propTypes.

Example:
[code]

[2018-10-04 01:39] shinriyo opened #187 "arrow function with export has bug"
[code]

old days it had bug. but now, it works correctly.
[code]

However, it has bug yet
[code]

it is like this...
[code]

[2018-10-07 15:53] TotallyInformation commented on #160
Still a problem.

[2018-10-10 08:10] PerpetualWar opened #188 "Why is it only working in certain cases, not in every .js file ?"
For example when Im using it in adonisjs, which uses ES6 classes and use strict all over, it works, however in other project which is done just with commonjs modules , I cannot generate docs for any of those....

What is the thing here ?

[2018-10-18 07:13] jhalborg commented on #160
Can also confirm @JackuB 's solution, as well as @AndrewKishino 's amendment.

https://gyazo.com/2a3a015e9ee53908dfb4917c1a0616c3

[2018-10-19 01:50] puyuchun commented on #148
I'm also find this problem in the .vue file when I attempt to doc  a object method/function. How to fix yet?
![image](https://user-images.githubusercontent.com/25677317/47193211-56c9a700-d384-11e8-90d7-13f51f84ae25.png)

[2018-10-27 04:38] RiFi2k commented on #154
Is anyone looking into this currently or know what the specific hangups are? I would be down to help

[2018-10-31 12:33] Goddak commented on #178
I came here with a video ready to make an issue but clearly there is no need :D

I will add to anybody waiting for a fix though if you enter your function and then use your shortcut, it will pop the appropriate stuff in the correct place (sometimes breaking indentation for the declaration line). Not ideal but it'll get you by for now and is faster than C&P-ing.

[2018-11-06 13:31] Tony1952466760 opened #190 "Support arrow function？"
Hi,I am a web developer.Using angualr6 to develop my website,docthis no support arrow function Parameter description？

[2018-11-14 01:59] thearabbit commented on #154
+1

[2018-11-14 03:05] Acidic9 commented on #154
6 Jan.. cool one :)

[2018-12-07 16:52] culshaw commented on #142
+1

With the example above in mind:
With destructured assignment, it would know instantly that the `options` is an object.

However, it would be impossible to detect that `draftId` is a Number, or any of the others.

_Ideally_ it'd prompt the user to add the type and tab will take you to the next item (in this case `customerMobile`).

[2018-12-10 02:11] kvkens commented on #175
丢人现眼

[2018-12-10 09:57] Fazerty commented on #154
+1 I'm using vuejs

[2019-01-02 01:32] juanlet commented on #148
Same problem with Jan 1 latest vs code version

[2019-01-10 14:47] r44083 commented on #155
I find out several good vscode extensions for doxygen. So, there isn't any need to extend vscode-docthis with doxygen support. Thank you.

[2019-01-10 14:47] #155 closed

[2019-01-15 03:56] kaindy7633 commented on #148
me too!!

[2019-01-18 08:51] WriterLuo commented on #187
: (

export const Demo = () => {
    .......
}

----------------------------
export /**
 * @description
 */
const Demo = () => {
  .......
}

[2019-01-27 08:45] dorian-marchal commented on #148
Same here, not working in .jsx files.

[2019-02-14 16:54] joelday opened #196 "Fundamental re-architecture/rewrite as TypeScript language service plugin"
As TypeScript's native JSDoc emitter support continues to become more sophisticated, the utility of this extension as it is currently designed/written is reduced. Going forward, the level-of-effort for maintenance of what was, originally, a quickly whipped up monolithic codebase will continue to increase.

The remaining fundamental use cases are tags that are not generated by TypeScript along with

[2019-02-14 17:03] joelday commented on #190
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:03] joelday commented on #188
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:03] joelday commented on #187
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:04] joelday commented on #185
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:04] joelday commented on #184
Can you provide information about the code that isn't working?

[2019-02-14 17:04] joelday commented on #183
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:05] #183 closed

[2019-02-14 17:05] joelday commented on #178
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:05] joelday commented on #177
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:05] joelday commented on #172
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:05] joelday commented on #169
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:05] joelday commented on #168
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:06] joelday commented on #166
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:06] #166 closed

[2019-02-14 17:06] joelday commented on #160
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:07] joelday commented on #154
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:07] #153 closed

[2019-02-14 17:08] joelday commented on #149
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:08] joelday commented on #148
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:09] #143 closed

[2019-02-14 17:09] joelday commented on #142
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:09] #128 closed

[2019-02-14 17:09] joelday commented on #126
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:10] #123 closed

[2019-02-14 17:11] joelday commented on #119
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:11] #118 closed

[2019-02-14 17:12] #116 closed

[2019-02-14 17:12] joelday commented on #96
#67

[2019-02-14 17:13] #96 closed

[2019-02-14 17:13] joelday commented on #66
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:14] joelday commented on #64
#66

[2019-02-14 17:14] #64 closed

[2019-02-14 17:14] #62 closed

[2019-02-14 17:14] joelday commented on #58
#66

[2019-02-14 17:14] #58 closed

[2019-02-14 17:14] #55 closed

[2019-02-14 17:15] #44 closed

[2019-02-14 17:15] joelday commented on #43
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:15] joelday commented on #35
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:16] joelday commented on #27
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:16] #27 closed

[2019-02-14 17:16] joelday commented on #26
Please see https://github.com/joelday/vscode-docthis/issues/196! Thank you!

[2019-02-14 17:16] #26 closed

[2019-02-14 17:16] #23 closed

[2019-02-14 17:18] joelday commented on #196
https://github.com/Microsoft/vscode/issues/4273

[2019-02-14 17:19] #6 closed

[2019-02-15 13:40] entr0cks commented on #161
Suggest changing title to "Overwrites previous line".
Found this via search and am also inconvenienced by this.

[2019-02-19 06:27] SuperMarioBean commented on #142
@joelday GREAT!

[2019-03-01 16:03] RonanC opened #198 "FEATURE: Add a setting to not add access modifiers"
It would be great if we could add a vscode setting to not create an annotation for the access modifiers.
By access modifiers I mean public, private, protected, etc.

Example settings:
[code]

We don't need these in TypeScript so there it's be great to have a setting to remove it.

Currently `@private` is added on private methods.

[2019-03-11 05:26] monkeyWzr opened #200 "Please check the version at marketplace (remains 0.7.1)"
Hi there @joelday
I've found that the version in package.json is already updated to `0.7.2`  but it remains `0.7.1` at marketplace. [https://marketplace.visualstudio.com/items?itemName=joelday.docthis](https://marketplace.visualstudio.com/items?itemName=joelday.docthis)

I'm wondering why it hasn't been published yet. Something still need to be fixed? Really looking forward to some PRs like #182 t

[2019-04-05 02:26] alan19031216 commented on #160
Actually Document This only support

Supports JSDoc and Closure Compiler tags: @class, @description, @enum, @export, @function, @implements, @interface, @param, @private, @returns, @static, @template, @type, @memberOf and @date.
https://marketplace.visualstudio.com/items?itemName=joelday.docthis

So, for node js i think its cannot support ....

[2019-04-11 08:30] mbaric1 commented on #196
Hi,
Did you start work on language service?
Would be good if you could setup new branch with template of idea you have to move forward.

[2019-04-12 06:46] ccloli commented on #200
Same here, I'm looking for arrow function support with React and willing to contribute. Then I found #195 has done what I wanted to do, and it's merged 2 hours ago, so it should works now. But I found that on marketplace the extension is still `0.7.1`, so the feature is not published now.

As I need to use the feature asap, I package the extension by myself, and install it manually. After a reload

[2019-04-15 21:14] Jet132 opened #201 "suggestion: use existing comments"
This isn't really an issue, but it would be nice if the extension automatically uses existing documentation.
For example, if you have
[code]
it would change it to
[code]

[2019-04-30 22:00] Fmstrat opened #202 "Ctrl-Alt-D is a GNOME reserved keystroke"
So `Ctrl+Alt+D` is a non-configurable (in GUI) reserved keystroke in Ubuntu 18.04. Any chance on an alternative?

[2019-05-24 21:15] mscola75 opened #203 "Cordova JS Issues"
This is how my Cordova app is created:

[code]
When I try to document function1 or function2, then the JAVADOC is added before/for this.MAIN_CLASS - at the wrong place.

Is this a known issue?

[2019-06-03 17:43] lonix1 commented on #202
Add this to your keybindings:

[code]

[2019-06-26 08:43] veroxy opened #204 "Could I replace comments block by comment line"
Comments block is banned in my code rules, Is it possible to replace comments block by comments line to documents my files ?

[2019-07-06 20:28] Andrew199617 opened #205 "Document Object literals."
It'd be nice to be able to document variables on Object Literals.

[code]

[2019-08-07 17:30] rocky opened #206 "disable "docthis" command in editor/context menu when not editing js-ish things"
docthis currently adds itself to the editor/context menu even for files that it can't handle.

Generally I think it is considered bad design to offer something that doesn't work. And it also clutters the menu making it harder to select those items that are valid.

Looking at https://code.visualstudio.com/api/extension-guides/command there probably is some sort  "when" clause that can be used to re

[2019-08-12 03:02] AndrewCraswell commented on #198
I think more fundamentally, there should be a way to disable any of the fields.

[2019-08-30 12:09] RoelRoel opened #207 "Please don't remove the typed characters if document this failes"
When I type /** and this plugin cannot is not able to documantation it shows and error messages and removes the the typed characters which is very annoying.

[2019-09-09 06:00] JaeYeopHan opened #208 "[Feature Request] Generate interface field in typescript"
is there any plan?

like this:
[code]

[2019-09-10 13:32] thany commented on #196
Is this still being worked on? Getting our team to use JSDoc is hard if this plugin doesn't work for our most common function syntax, which is the arrow function.

[2019-09-25 01:00] mtpultz opened #209 "[Feature Request]: Support for TSDoc"
Been using this plugin with VSCode for a long time and it's a huge time saver, but with TypeScript the rules are changing and the Document This for JSDoc shows up as linting errors.  Any chance Document This might support TSDoc?

[2019-09-30 09:23] thany commented on #190
Can you at least release 0.7.2 to the vscode extensions marketplace, please?
I see a commit for arrow function support, and if that one works, it'd be a good enough solution until the codebase has been revamped as described in #196.

[2019-10-02 22:17] learn2reid opened #210 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `docthis`
- Extension Version: `0.7.1`
- OS Version: `Darwin x64 18.7.0`
- VSCode version: `1.38.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/lreid/joelday.docthis-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load

[2019-10-02 22:18] #210 closed

[2019-10-14 07:36] LonHon commented on #160
Any update?

[2019-11-15 17:11] AfonsoFG opened #212 "Insert doc block above eslint option line"
[code]

The docblock created for this method will invalidate the eslint line!

[2019-11-20 08:59] zhongzhong0505 opened #213 "Arrow function can not invoke document this plugin"
like this code
[code]

when i type /** , and select document this item , vscode show error tips
![image](https://user-images.githubusercontent.com/15847574/69224230-240d6600-0bb7-11ea-9ac6-3ecf7cd2893f.png)

[2019-11-21 05:12] anming-john commented on #160
any solution?

[2019-11-21 14:39] yanike opened #214 "Willl there be Java support?"
Are there any plans on supporting Java programming language?

[2019-11-28 09:19] duziten opened #215 "support arrow function, please"

[2019-11-28 10:27] pixelgoo commented on #215
+1
It's sad that that common functionality is missing, modern JS/TS code contains tons of arrow functions.

[2019-12-01 00:45] kamocyc commented on #150
I agree this.
In my environment, startup time of this extension is around 70ms.

But, I think it is better to reduce this time, considering many other extension's activation time . Even in markdown file, this extension is currently activated.
![image](https://user-images.githubusercontent.com/34459265/69907756-b109b800-141e-11ea-9a28-2c180b759cda.png)

[2019-12-27 09:09] 282159468 commented on #215
+1

[2020-01-21 13:05] TKasperczyk commented on #47
I'd like to remind that this feature is still missing after **over 3 years**...

![ezgif-6-10c0da71fdcd](https://user-images.githubusercontent.com/14127992/72806781-2db65700-3c56-11ea-9133-1660f727a7a3.gif)

[2020-01-21 13:06] TKasperczyk commented on #215
+1

[2020-02-02 14:31] linjiyou commented on #160
这个bug怎么解决大佬

[2020-02-13 10:16] eouin commented on #215
👍 +1

[2020-02-13 18:39] collinbarrett opened #217 "Possible to auto-add @inheritdoc when applicable"
In inheritance/implementation of base classes/interfaces, could this extension auto-add the following instead of a full doc comment?

`/** @inheritdoc */`

[2020-02-15 10:10] Mati365 commented on #215
+1

[2020-02-29 05:08] montanag commented on #154
+1 especially for support with vue.js

[2020-03-07 01:16] housewarmer opened #218 "ExtendScript .jsx file support"
Can we add ExtendScript's .jsx extension to the supported types?

[2020-03-10 08:28] Pidlik commented on #215
+1

[2020-03-29 17:01] domingowensnsoft commented on #160
umm. pls, translate tip okay?
only function and class code front can be used.

[2020-04-03 09:53] belte42 commented on #154
+1 Vue support please

[2020-04-09 12:02] msaaddev opened #219 "Getting in Touch with the Author"
Hey, @joelday! I want to get in touch with you with an amazing proposition but I couldn't find your email on your GitHub account. Can you please send me a blank email at mrsaadirfan@gmail.com so that I can get back to you. Thank you for your time. :)

[2020-04-09 12:02] msaaddev commented on #219
I am now going to close this issue since it is not related to vscode-docthis. I hope you will see this message.

[2020-04-09 12:02] #219 closed

[2020-04-17 15:22] TheColorRed opened #220 "Auto update JSDoc"
It would be nice/helpful if there was a command that could be executed that would update the docs, either on a jsdoc-by-jsdoc basis or on the entire source of a single document.

Some features would include (but not limited to):

* Removal unused `@param`
* Addition of a new `@param`
* Update `Type` changes such as `@param {number}` to `@param {string}` when the parameter changes (when possible)
*

[2020-04-23 20:02] NicolasMarino commented on #215
+1

[2020-05-19 03:06] baixiaoyu2997 commented on #215
+1

[2020-05-28 22:07] JulioC opened #222 "Is this project dead?"
Some statistics:
- Lastest version 0.7.1 was [released o June 2018](https://github.com/joelday/vscode-docthis/commit/c3a7cb764290904d923c9c8913a3243b252a5c46)
- Last real issue was closed on October 2019
- Last commit on February 2019
- Version 0.7.2 is on holding on big features (arrow functions)

Does anyone have any info on the situation? Is there any good alternatives to it?

[2020-05-29 01:49] TheOpenDevProject commented on #222
The project is not officially anything at the moment. @joelday I believe just got super busy but we're taking pull requests and at some point Ill get back into it.

[2020-05-29 01:58] JulioC commented on #222
That's very nice to know! Thanks for the update!

[2020-06-09 00:57] weisssean commented on #215
Pretty much useless without arrow function support... what is this, 2012?

[2020-06-12 11:19] TheOpenDevProject commented on #215
I will start work on this tomorrow. Please stay tuned.

[2020-06-12 11:27] Mati365 commented on #215
:tada:

[2020-06-12 11:39] TheOpenDevProject commented on #196
@thany I'm bringing it back to life, I've not heard from @joelday in a long time though.

[2020-06-16 06:54] #222 closed

[2020-06-16 06:54] TheOpenDevProject commented on #214
Unlikely this is a Javascript / TS oriented plugin

[2020-06-16 14:00] yanike commented on #214
For those looking for an extension for Java, use this:
https://github.com/madhavd1/vscode-javadoc-tools

[2020-06-16 14:00] #214 closed

[2020-06-16 15:09] JulioC commented on #222
Is there any planned date for the next release to the marketplace?

[2020-07-12 10:21] SulthanNK opened #226 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `docthis`
- Extension Version: `0.7.1`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.47.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2020-07-28 07:48] Bublade commented on #169
It would also be nice if a function that is async also gets `@async` in the docs

[2020-07-30 06:21] thomas-price opened #227 "[Feature Request]: Create top/file-level comments"
Nice product.
Adding the ability to create top/file-level comments would be great.
Example:
[code]

regards
Thomas